.icon_picklist-dropdown,
.icon_picklist-clear {
  line-height: 38px;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 0;
}

.icon_picklist-dropdown {
  right: 0;
}

.icon_picklist-clear {
  left: 0;
}

.icon_item-selected {
  position: absolute;
  line-height: 30px;
  left: 1px;
  top: 1px;
}






