.icon_lookup-search {
  text-align: center;
  color: #555;
  font-size: 32px;
  line-height: 40px;
  display: inline-block;
  width: 38px;
  position: absolute;
  left: 0;
  top: 0;
}

.icon_lookup-clear-input,
.icon_lookup-clear-item {
  text-align: center;
  text-decoration: none; // background-color: #ddd;
  position: absolute;
  line-height: 40px;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}





