.picklist {}
.picklist__toggle {
  cursor: pointer;
  line-height: 38px;
  position: absolute;
  padding-left: 15px;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 5;
  &:hover {background-color: #eef;}
}
.picklist__container {
  background-color: #fff;
}
.picklist__head {
  outline: solid 1px #ddd;
  position: relative;
  min-height: 40px;
  padding-right: 30px;
}
.picklist__body {
  position: relative;
}


