.ui-popover {
  font-size: 14px;
  line-height: 1.4;
}

.ui-popover_availability-table {
  $height: 200px;
  $width: 280px;
  // -------------------------------------------------
  outline: solid 1px #333;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  // -------------------------------------------------
  .ui-popover__container,
  .ui-popover__head,
  .ui-popover__body,
  .ui-popover__foot {
    position: relative;
    // outline: solid 1px #f00;
  }
  // -------------------------------------------------
  .ui-popover__container {
    background-color: #fff;
    height: $height;
    width: $width;
    &.left {
      left: 15px;
    }
    &.right {
      right: $width + 15px;
    }
    &.top {
      top: -5px;
    }
    &.bottom {
      top: -1 * ($height - 10);
    }
    &.middle {
      top: $height/-2;
      left: 15px;
    }
  }
  // -------------------------------------------------
  .ui-popover__toggle {
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 3px;
  }
  .ui-popover__head {
    text-align: right;
  }
  .ui-popover__body {
    padding: 15px;
    .text-left {
      @extend %jsms-box-title;
      margin-bottom: 5px;
    }
  }
  .ui-popover__foot {
    padding: 5px 15px 15px 15px;
    border: none;
  }
  // -------------------------------------------------
  // .ui-popover__row {}
  .ui-popover__col {
    $gap: 4px;
    position: relative;
    padding: 0 $gap;
    &:first-child {
      padding-right: $gap*2;
      padding-left: 0px;
      &:before {
        content: ":";
        position: absolute;
        display: inline;
        right: 1px;
        top: 4px;
      }
    }
    &:last-child {
      padding-right: 0px;
      padding-left: $gap*2;
      // &:before {
      //   left: 0px !important;
      // }
    }
    // & +.ui-popover__col {
    // }
  }
}
