.ui-datepicker {
  $fz: 12px;
  $grayClr: #777;
  $rowPdng: 1px;
  $mgLl: 4px;
  // --------------------------------------
  // &,
  // .dropdown-menu,
  // .ngb-dp-header,
  // .custom-select,
  // .ngb-dp-navigation-chevron,
  // .ngb-dp-week,
  // .ngb-dp-weekday,
  // .ngb-dp-day,
  // .btn-secondary {
  //   outline: solid 1px #f00;
  // }
  // --------------------------------------
  .slds-input {
    font-family: inherit !important;
    font-size: 12px;
  }
  .dropdown-menu {
    box-shadow: 0px 3px 6px rgba(0,0,0,.18);
    // border-radius: 0;
    background-color: #fff;
    padding: 1px 5px 2px 5px !important;
    .ngb-dp-header {
      background-color: #fff;
      border: none !important;
      .custom-select {
        width: 47%;
        font-size: $fz;
        font-family: inherit !important;
        + .custom-select {
          margin-left: 5%;
        }
      }
      .ngb-dp-navigation-chevron {
        color: $grayClr;
      }
    }
    .ngb-dp-week {
      padding: $rowPdng 0;
    }
    .ngb-dp-weekday {
      color: $grayClr !important;
      font-size: $fz;
      + .ngb-dp-weekday {margin-left: $mgLl;}
    }
    .ngb-dp-day {
      + .ngb-dp-day {margin-left: $mgLl;}
      .btn-secondary {
        font-size: $fz;
        line-height: 1.9rem;
        border-radius: 50%;
      }
    }
  }
}



