<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<h2 class="txt txt_center title">Controls:</h2>



<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<hr>
<h3 class="txt txt_center title">path-control</h3>
<jsng-path-control></jsng-path-control>
<br>
<br>
<br>



<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<hr>
<h3 class="txt txt_center title">control (basic component)</h3>
<jsng-control
  [(options)]="simpleOptions" 
  [(data)]="simpleData" 
  (init)="simpleInit($event)" 
  (reduce)="simpleReduce($event)" 
  (increase)="simpleIncrease($event)">
  <ng-template #controlReduceBtnTmp>
    <i class="material-icons">keyboard_arrow_left</i>
  </ng-template>
  <ng-template #controlCenterTmp let-context>
    <div class="control-mid-container">
      <span>val:{{context.data.value}}</span>
      |
      <span>pos:{{context.data.position}}</span>
      |
      <span>len:{{context.data.collection.length-1}}</span>
    </div>
  </ng-template>
  <ng-template #controlIncreaseBtnTmp>
    <i class="material-icons">keyboard_arrow_right</i>
  </ng-template>
</jsng-control>
<br>
<br>
<br>



<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<!-- 
<h3 class="txt txt_center title">pagination-control</h3>
<hr>
<jsng-control
  [(options)]="simpleOptions" 
  [(data)]="simpleData" 
  (init)="simpleInit($event)" 
  (reduce)="simpleReduce($event)" 
  (increase)="simpleIncrease($event)">
  <ng-template #controlReduceBtnTmp>
    <i class="material-icons">keyboard_arrow_left</i>
  </ng-template>
  <ng-template #controlCenterTmp let-context>
    <div class="control-mid-container">
      <span>val:{{context.data.value}}</span>
      |
      <span>pos:{{context.data.position}}</span>
      |
      <span>len:{{context.data.collection.length-1}}</span>
    </div>
  </ng-template>
  <ng-template #controlIncreaseBtnTmp>
    <i class="material-icons">keyboard_arrow_right</i>
  </ng-template>
</jsng-control>
<br>
<br>
<br>
-->



<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<hr>
<h3 class="txt txt_center title">pagination-button-group-control</h3>
<jsng-control
  [(options)]="bgroupOptions" 
  [(data)]="bgroupData" 
  (init)="bgroupInit($event)" 
  (reduce)="bgroupReduce($event)" 
  (increase)="bgroupIncrease($event)">
  <ng-template #controlReduceBtnTmp>
    <i class="material-icons">keyboard_arrow_left</i>
  </ng-template>
  <ng-template #controlCenterTmp let-context>
    <div class="control-mid-container">
      <span>val:{{context.data.value}}</span>
      |
      <span>pos:{{context.data.position}}</span>
      |
      <span>len:{{context.data.collection.length-1}}</span>
      |
      <a href="javascript:void(0);" class="link link_control-button-group"
        (click)="clickBtnGroupLink(i)"
        [ngClass]="{active:context.data.position===i}"
        *ngFor="let item of context.data.collection; let i = index">
        {{i}}
      </a>
    </div>
  </ng-template>
  <ng-template #controlIncreaseBtnTmp>
    <i class="material-icons">keyboard_arrow_right</i>
  </ng-template>
</jsng-control>
<br>
<br>
<br>



<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->
<hr>
<h3 class="txt txt_center title">zoom-control</h3>
<jsng-control
  [(options)]="zoomOptions" 
  [(data)]="zoomData" 
  (init)="zoomInit($event)" 
  (reduce)="zoomReduce($event)" 
  (increase)="zoomIncrease($event)">
  <ng-template #controlReduceBtnTmp>
    <i class="material-icons">remove</i>
  </ng-template>
  <ng-template #controlCenterTmp let-context>
    <div class="control-mid-container">
      <span>val:{{context.data.value}}</span>
      |
      <span>pos:{{context.data.position}}</span>
      |
      <span>len:{{context.data.collection.length-1}}</span>
    </div>
  </ng-template>
  <ng-template #controlIncreaseBtnTmp>
    <i class="material-icons">add</i>
  </ng-template>
</jsng-control>
<br>
<br>
<br>





















