.flex {
  .flex__container,
  .flex__element {
    // outline: solid 1px #333;
  }
}

.flex__container {
  display: flex;
  &.inline {
    display: inline-flex;
  }
  // -----------------------------------
  // wrapping:
  &.wrap {
    flex-wrap: wrap;
    &_reversed {
      flex-wrap: wrap-reverse;
    }
  }
  // -----------------------------------
  // direction:
  &.row {
    flex-direction: row;
    &_reversed {
      flex-direction: row-reverse;
    }
  }
  &.col {
    flex-direction: column;
    &_reversed {
      flex-direction: column-reverse;
    }
  }
  // -----------------------------------
  // justify content:
  &.justify {
    justify-content: start;
    &_center {
      justify-content: center;
    }
    &_end {
      justify-content: flex-end;
    }
    &_start {
      justify-content: flex-start;
    }
    &_around {
      justify-content: space-around;
    }
    &_between {
      justify-content: space-between;
    }
    // -----------------------------------
    // play with child margin here as cascade style;
  }
  // -----------------------------------
  // alignment:
  &.align {
    align-items: stretch;
    &_base {
      align-items: baseline;
    }
    &_start {
      align-items: flex-start;
    }
    &_center {
      align-items: center;
    }
    &_end {
      align-items: flex-end;
    }
  }
  &.c-align {
    align-content: stretch;
    &_around {
      align-content: space-around;
    }
    &_between {
      align-content: space-between;
    }
    &_start {
      align-content: flex-start;
    }
    &_center {
      align-content: center;
    }
    &_end {
      align-content: flex-end;
    }
  }
}

.flex__element {
  &.ma {
    margin: auto;
  }
  &.mra {
    margin-right: auto;
  }
  &.mla {
    margin-left: auto;
  }
  &.mta {
    margin-top: auto;
  }
  &.mba {
    margin-bottom: auto;
  }
  // grow, order & shrink
  @for $id from 0 through 10 {
    // ----------------------------------
    // orders:
    &.order-#{$id} {
      order: $id;
    }
    // ----------------------------------
    // grow and shrink:
    &.grow-#{$id} {
      flex-grow: $id;
    }
    &.shrink-#{$id+1} {
      flex-shrink: $id;
    }
  }
  // ----------------------------------
  // grid:
  $gridList: 10 20 21 100;
  @each $measure in $gridList {
    &.base {
      &-#{$measure} {
        @for $i from 1 through $measure {
          &-#{$i} {
            flex-basis: (100/$measure) * $i *1%;
          }
        }
      }
    }
    &.grid {
      &-#{$measure} {
        @for $i from 1 through $measure {
          &-#{$i} {
            width: (100/$measure) * $i *1%;
          }
        }
      }
    }
  }
  // ----------------------------------
  // alignment:
  &.align {
    align-self: stretch;
    &_start {
      align-self: flex-start;
    }
    &_center {
      align-self: center;
    }
    &_end {
      align-self: flex-end;
    }
  }
}

// --------------------------------------------------
@import "./style.flex_item-contacts";
@import "./style.flex_control";


