html,
body {
  height: 100%;
}

body {
  color: #000;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

