$list-m-query: - -sm- -md- -lg- -xl-;
%reset-twtr-btstrp {
  margin: 0;
  padding: 0;
}

.container,
.container-fluid,
.row,
.col,
{
  @extend %reset-twtr-btstrp;
}

.col {
  @for $i from 1 through 12 {
    &#{-$i} {
      @extend %reset-twtr-btstrp;
    }
    @each $m-query in $list-m-query {
      &#{$m-query}#{$i} {
        @extend %reset-twtr-btstrp;
      }
    }
  }
}



