<div class="picklist">
  <div class="picklist__container">

    <!-- -------------------------------------- -->
    <!-- [ngClass]="{is_body_shown:itemsValue.length}" -->
    <!-- <a (click)="onClear()" class="material-icons icon icon_picklist-clear" href="javascript:void(0);">clear</a> -->
    <div class="picklist__head">

      <div class="list list_picklist head" *ngIf="itemsValue.length && !isBodyShown">
        <ul class="list__list">
          <li class="item item_picklist head" (click)="onToggleHeadItems(item)" *ngFor="let item of itemsValue;">
            <ng-template 
              [ngTemplateOutlet]="picklistItemRef" 
              [ngTemplateOutletContext]="{$implicit:item}">
            </ng-template>
          </li>
        </ul>
      </div>

      <div (click)="onToggleDropdown(isBodyShown)" class="picklist__toggle">
        <ng-container *ngIf="!itemsValue.length">Select item</ng-container>
        <ng-container *ngIf="itemsValue.length && isBodyShown">Selected: {{itemsValue.length}} items</ng-container>
        <a class="material-icons icon icon_picklist-dropdown" href="javascript:void(0);">{{isBodyShown ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</a>
      </div>

    </div>
    <!-- -------------------------------------- -->
    <div class="picklist__body" *ngIf="isBodyShown">
      <div class="list list_picklist body" *ngIf="collectionValue.length">
        <ul class="list__list">
          <li class="list__item item item_picklist body" (click)="onSelect(collectionItem)" [ngClass]="{selected:collectionItem.selected}" *ngFor="let collectionItem of collectionValue;">
            <i *ngIf="collectionItem.selected" class="material-icons icon icon_item-selected">done</i>
            <ng-template 
              [ngTemplateOutlet]="picklistItemRef" 
              [ngTemplateOutletContext]="{$implicit:collectionItem}">
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
    <!-- -------------------------------------- -->
  </div>
</div>











<!--
<div class="list__foot">
  <button class="button">Accept</button>
  <button class="button">Deny</button>
</div>
-->