<h2 class="">Components</h2>

<div class="list">
  <ul class="list__list">
    <li class="list__item item" routerLinkActive="active">
      <a class="link" [routerLink]="['./table']" href="javascript:void(0);">Table</a>
    </li>
    <li class="list__item item" routerLinkActive="active">
      <a class="link" [routerLink]="['./controls']" href="javascript:void(0);">Сontrols</a>
    </li>
    <li class="list__item item" routerLinkActive="active">
      <a class="link" [routerLink]="['./lookup']" href="javascript:void(0);">Lookup</a>
    </li>
    <li class="list__item item" routerLinkActive="active">
      <a class="link" [routerLink]="['./picklist']" href="javascript:void(0);">Picklist</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>