// =============================================================================
// RESET CUSTOM STYLE:
.ui-modal {
  background-color: #f7f9fc;
  .modal-dialog,
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-dialog {
    margin-top: 60px;
  }
  .modal-content {
    border: solid 1px $tblBdr;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, .22);
  }
}

// =============================================================================
// AUTHOR CUSTOM STYLE:
.ui-modal__container {
  position: relative;
  font-size: 14px;
}
.ui-modal__toggle {
  text-align: center;
  line-height: 24px;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 15px;
  top: 15px;
}
.ui-modal__head,
.ui-modal__body,
.ui-modal__foot {
  position: relative;
  display: block;
  padding: 15px;
}
.ui-modal__head {
  @extend %jsms-header-text;
  line-height: 30px;
  background-color: $lightGrayBg;
  min-height: 60px;
  padding-right: 45px;
}
.ui-modal__body {
  min-height: 100px;
  padding: 30px;
}
.ui-modal__row {
  + .ui-modal__row {
    margin-top: 15px;
  }
}





