.txt {
  // ---------
  &_center {
    text-align: center;
  }
  &_left {
    text-align: left;
  }
  &_right {
    text-align: right;
  }
  // ---------
  &.orange {
    color: $tshOrangeTxt;
  }
  &.green {
    color: $tshGreenTxt;
  }
  &.blue {
    color: blue;
  }
  // ---------
  &.through {
    text-decoration: line-through;
  }
  &.upper {
    text-transform: uppercase;
  }
  &.bold {
    font-weight: bold;
  }
  // ---------
  &.first {
    font-size: 48px;
  }
  &.second {
    font-size: 30px;
  }
  &.third {
    font-size: 28px;
  }
  &.fourth {
    font-size: 24px;
  }
  &.fifth {
    font-size: 18px;
  }
  &.sixth {
    font-size: 16px;
  }
  // ---------
  &.small {
    font-size: 14px;
  }
  &.tiny {
    font-size: 12px;
  }
  // -----------------------------------------
  // patterns from brand-book:
  &.jsms-header-text {
    @extend %jsms-header-text;
  }
  &.jsms-title {
    @extend %jsms-title;
  }
  &.jsms-box-title {
    @extend %jsms-box-title;
  }
  &.jsms-blue-txt {
    @extend %jsms-breadcrumbs;
  }
  &.jsms-txt {
    @extend %jsms-txt;
  }
}




