.input_lookup {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 30px;
  border: solid 1px #aaa;
  padding: 5px 30px 5px 40px;
  position: relative;
  background-color: transparent;
}









