<hr>
<h3 class="txt title jsms-title">CUSTOM ICONS</h3>

<i class="icon icon_slds slds-custom-icon-custom1"></i>
<i class="icon icon_slds slds-custom-icon-custom2"></i>
<i class="icon icon_slds slds-custom-icon-custom3"></i>
<i class="icon icon_slds slds-custom-icon-custom4"></i>
<i class="icon icon_slds slds-custom-icon-custom5"></i>
<i class="icon icon_slds slds-custom-icon-custom6"></i>
<i class="icon icon_slds slds-custom-icon-custom7"></i>
<i class="icon icon_slds slds-custom-icon-custom8"></i>
<i class="icon icon_slds slds-custom-icon-custom9"></i>
<i class="icon icon_slds slds-custom-icon-custom10"></i>
<i class="icon icon_slds slds-custom-icon-custom11"></i>
<i class="icon icon_slds slds-custom-icon-custom12"></i>
<i class="icon icon_slds slds-custom-icon-custom13"></i>
<i class="icon icon_slds slds-custom-icon-custom14"></i>
<i class="icon icon_slds slds-custom-icon-custom15"></i>
<i class="icon icon_slds slds-custom-icon-custom16"></i>
<i class="icon icon_slds slds-custom-icon-custom17"></i>
<i class="icon icon_slds slds-custom-icon-custom18"></i>
<i class="icon icon_slds slds-custom-icon-custom19"></i>
<i class="icon icon_slds slds-custom-icon-custom20"></i>
<i class="icon icon_slds slds-custom-icon-custom21"></i>
<i class="icon icon_slds slds-custom-icon-custom22"></i>
<i class="icon icon_slds slds-custom-icon-custom23"></i>
<i class="icon icon_slds slds-custom-icon-custom24"></i>
<i class="icon icon_slds slds-custom-icon-custom25"></i>
<i class="icon icon_slds slds-custom-icon-custom26"></i>
<i class="icon icon_slds slds-custom-icon-custom27"></i>
<i class="icon icon_slds slds-custom-icon-custom28"></i>
<i class="icon icon_slds slds-custom-icon-custom29"></i>
<i class="icon icon_slds slds-custom-icon-custom30"></i>
<i class="icon icon_slds slds-custom-icon-custom31"></i>
<i class="icon icon_slds slds-custom-icon-custom32"></i>
<i class="icon icon_slds slds-custom-icon-custom33"></i>
<i class="icon icon_slds slds-custom-icon-custom34"></i>
<i class="icon icon_slds slds-custom-icon-custom35"></i>
<i class="icon icon_slds slds-custom-icon-custom36"></i>
<i class="icon icon_slds slds-custom-icon-custom37"></i>
<i class="icon icon_slds slds-custom-icon-custom38"></i>
<i class="icon icon_slds slds-custom-icon-custom39"></i>
<i class="icon icon_slds slds-custom-icon-custom40"></i>
<i class="icon icon_slds slds-custom-icon-custom41"></i>
<i class="icon icon_slds slds-custom-icon-custom42"></i>
<i class="icon icon_slds slds-custom-icon-custom43"></i>
<i class="icon icon_slds slds-custom-icon-custom44"></i>
<i class="icon icon_slds slds-custom-icon-custom45"></i>
<i class="icon icon_slds slds-custom-icon-custom46"></i>
<i class="icon icon_slds slds-custom-icon-custom47"></i>
<i class="icon icon_slds slds-custom-icon-custom48"></i>
<i class="icon icon_slds slds-custom-icon-custom49"></i>
<i class="icon icon_slds slds-custom-icon-custom50"></i>
<i class="icon icon_slds slds-custom-icon-custom51"></i>
<i class="icon icon_slds slds-custom-icon-custom52"></i>
<i class="icon icon_slds slds-custom-icon-custom53"></i>
<i class="icon icon_slds slds-custom-icon-custom54"></i>
<i class="icon icon_slds slds-custom-icon-custom55"></i>
<i class="icon icon_slds slds-custom-icon-custom56"></i>
<i class="icon icon_slds slds-custom-icon-custom57"></i>
<i class="icon icon_slds slds-custom-icon-custom58"></i>
<i class="icon icon_slds slds-custom-icon-custom59"></i>
<i class="icon icon_slds slds-custom-icon-custom60"></i>
<i class="icon icon_slds slds-custom-icon-custom61"></i>
<i class="icon icon_slds slds-custom-icon-custom62"></i>
<i class="icon icon_slds slds-custom-icon-custom63"></i>
<i class="icon icon_slds slds-custom-icon-custom64"></i>
<i class="icon icon_slds slds-custom-icon-custom65"></i>
<i class="icon icon_slds slds-custom-icon-custom66"></i>
<i class="icon icon_slds slds-custom-icon-custom67"></i>
<i class="icon icon_slds slds-custom-icon-custom68"></i>
<i class="icon icon_slds slds-custom-icon-custom69"></i>
<i class="icon icon_slds slds-custom-icon-custom70"></i>
<i class="icon icon_slds slds-custom-icon-custom71"></i>
<i class="icon icon_slds slds-custom-icon-custom72"></i>
<i class="icon icon_slds slds-custom-icon-custom73"></i>
<i class="icon icon_slds slds-custom-icon-custom74"></i>
<i class="icon icon_slds slds-custom-icon-custom75"></i>
<i class="icon icon_slds slds-custom-icon-custom76"></i>
<i class="icon icon_slds slds-custom-icon-custom77"></i>
<i class="icon icon_slds slds-custom-icon-custom78"></i>
<i class="icon icon_slds slds-custom-icon-custom79"></i>
<i class="icon icon_slds slds-custom-icon-custom80"></i>
<i class="icon icon_slds slds-custom-icon-custom81"></i>
<i class="icon icon_slds slds-custom-icon-custom82"></i>
<i class="icon icon_slds slds-custom-icon-custom83"></i>
<i class="icon icon_slds slds-custom-icon-custom84"></i>
<i class="icon icon_slds slds-custom-icon-custom85"></i>
<i class="icon icon_slds slds-custom-icon-custom86"></i>
<i class="icon icon_slds slds-custom-icon-custom87"></i>
<i class="icon icon_slds slds-custom-icon-custom88"></i>
<i class="icon icon_slds slds-custom-icon-custom89"></i>
<i class="icon icon_slds slds-custom-icon-custom90"></i>
<i class="icon icon_slds slds-custom-icon-custom91"></i>
<i class="icon icon_slds slds-custom-icon-custom92"></i>
<i class="icon icon_slds slds-custom-icon-custom93"></i>
<i class="icon icon_slds slds-custom-icon-custom94"></i>
<i class="icon icon_slds slds-custom-icon-custom95"></i>
<i class="icon icon_slds slds-custom-icon-custom96"></i>
<i class="icon icon_slds slds-custom-icon-custom97"></i>
<i class="icon icon_slds slds-custom-icon-custom98"></i>
<i class="icon icon_slds slds-custom-icon-custom99"></i>
<i class="icon icon_slds slds-custom-icon-custom100"></i>
<i class="icon icon_slds slds-custom-icon-custom101"></i>
<i class="icon icon_slds slds-custom-icon-custom102"></i>
<i class="icon icon_slds slds-custom-icon-custom103"></i>
<i class="icon icon_slds slds-custom-icon-custom104"></i>
<i class="icon icon_slds slds-custom-icon-custom105"></i>
<i class="icon icon_slds slds-custom-icon-custom106"></i>
<i class="icon icon_slds slds-custom-icon-custom107"></i>
<i class="icon icon_slds slds-custom-icon-custom108"></i>
<i class="icon icon_slds slds-custom-icon-custom109"></i>
<i class="icon icon_slds slds-custom-icon-custom110"></i>
<i class="icon icon_slds slds-custom-icon-custom111"></i>
<i class="icon icon_slds slds-custom-icon-custom112"></i>
<i class="icon icon_slds slds-custom-icon-custom113"></i>



