<div class="table">
  <table class="table__container">

    <caption class="table__caption" *ngIf="captionData.length">
      {{captionData}}
    </caption>

    <thead class="table__head" *ngIf="tableHead.length">
      <tr   *ngFor="let row of tableHead; let rowId = index;" class="table__row">
        <th *ngFor="let col of row;       let colId = index;" class="table__col">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="headCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:col,colId:colId,rowId:rowId}}">
            </ng-template>
          </ng-container>
        </th>
      </tr>
    </thead>
    
    <tbody class="table__body" *ngIf="tableBody.length">
      <tr   *ngFor="let row of tableBody; let rowId = index;" class="table__row">
        <td *ngFor="let col of row;       let colId = index;" class="table__col">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="bodyCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:col,colId:colId,rowId:rowId}}">
            </ng-template>
          </ng-container>
        </td>
      </tr>
    </tbody>
    
    <tfoot class="table__foot" *ngIf="tableFoot.length">
      <tr   *ngFor="let row of tableFoot; let rowId = index;" class="table__row">
        <td *ngFor="let col of row;       let colId = index;" class="table__col">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="footCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:col,colId:colId,rowId:rowId}}">
            </ng-template>
          </ng-container>
        </td>
      </tr>
    </tfoot>

  </table>
</div>









