<div class="flex flex_control">
  <div class="flex__container {{options.direction}}">
    <div class="flex__element">
      <button type="button" 
        class="button button_control reduce full" 
        [disabled]="options.buttonReduce"
        (click)="onReduce(data, options)">
        <ng-template [ngTemplateOutlet]="controlReduceBtnTmpRef"></ng-template>
      </button>
    </div>
    <div class="flex__element mla mra txt txt_center">
      <ng-template 
        [ngTemplateOutlet]="controlCenterTmpRef" 
        [ngTemplateOutletContext]="{$implicit: {data:data,options:options}}">
      </ng-template>
    </div>
    <div class="flex__element">
      <button type="button" 
        class="button button_control increase full" 
        [disabled]="options.buttonIncrease"
        (click)="onIncrease(data, options)">
        <ng-template [ngTemplateOutlet]="controlIncreaseBtnTmpRef"></ng-template>
    </button>
  </div>
  </div>
</div>



