<h2>Assets</h2>

<ul>
  <li class="item" routerLinkActive="active">
    <a class="link" [routerLink]="['./slds-action-icon']" href="javascript:void(0);">SLDS action icons</a>
  </li>
  <li class="item" routerLinkActive="active">
    <a class="link" [routerLink]="['./slds-custom-icon']" href="javascript:void(0);">SLDS custom icons</a>
  </li>
  <li class="item" routerLinkActive="active">
    <a class="link" [routerLink]="['./slds-standard-icon']" href="javascript:void(0);">SLDS standard icons</a>
  </li>
  <li class="item" routerLinkActive="active">
    <a class="link" [routerLink]="['./slds-utility-icon']" href="javascript:void(0);">SLDS utility icons</a>
  </li>
</ul>



<router-outlet></router-outlet>