<h3 class="title txt txt_center jsms-title">Lookup:</h3>

<div style="max-width:300px; margin:0 auto">
  <jsng-lookup 
    [(collection)]="contacts"
    [(item)]="contact"
    (choose)="onChooseFromLookup($event)"
    (run)="obtainContacts($event)">
    <ng-template #lookupItemHeadTmp let-lookupItem>
      <a href="javascript:void(0);" class="flex flex_item-contacts">
        {{lookupItem.phoneNumber}}
      </a>
    </ng-template>
    <ng-template #lookupItemBodyTmp let-lookupItem>
      <a href="javascript:void(0);" class="flex flex_item-contacts">
        {{lookupItem.phoneNumber}}
      </a>
    </ng-template>
  </jsng-lookup>
</div>









