.zoom-control {
  // outline: solid 1px #f00;
}

.zoom-control {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 7%;
  max-width: 70px;
  z-index: 100;
  left: 0px;
  top: 0px;
}

.zoom-control__item {
  display: inline-block;
  width: 100%;
  +.zoom-control__item {
    margin-top: 3px;
  }
}
