<h3 style="text-align:center;">Picklist:</h3>

<button (click)="picklistOptions.multiple = !picklistOptions.multiple">
  Multiple | {{picklistOptions.multiple}}
</button>

<hr>

<div style="max-width:300px; margin:0 auto">
  <jsng-picklist
    [(collection)]="participants"
    [options]="picklistOptions"
    (select)="onSelectPicklistItem($event)">
    <ng-template #picklistItemTemplate let-picklistItem>
      <a class="flex flex_item-contacts" href="javascript:void(0);">
        <div class="flex__container">
          <!-- <div class="flex__element grid-10-1">
            <i class="material-icons icon icon_userpic">account_circle</i>
          </div> -->
          <div class="flex__element grid-10-8">
            <!-- {{picklistItem.key}} |  -->
            {{picklistItem.data.label}}
            <!-- | {{picklistItem.data.position}} -->
          </div>
          <!-- <div class="flex__element grid-10-1">{{picklistItem.data.age}}</div> -->
        </div>
      </a>
    </ng-template>
  </jsng-picklist>
</div>

