<div class="js-pseudo-table">

  <div class="js-pseudo-table__caption" *ngIf="captionData.length">
    {{captionData}}
  </div>

  <div class="js-pseudo-table__container">
    <div class="js-pseudo-table__head" *ngIf="tableHead.length">
      <div *ngFor="let row of tableHead; let rowId = index;" class="js-pseudo-table__row">
        <div *ngFor="let col of row;     let colId = index;" class="js-pseudo-table__col">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="headCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:col,colId:colId,rowId:rowId}}">
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="js-pseudo-table__body" *ngIf="tableBody.length">
      <div *ngFor="let row of tableBody; let rowId = index;" class="js-pseudo-table__row">
        <div *ngFor="let col of row;     let colId = index;" class="js-pseudo-table__col">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="bodyCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:col,colId:colId,rowId:rowId}}">
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="js-pseudo-table__foot" *ngIf="tableFoot.length">
      <div *ngFor="let row of tableFoot; let rowId = index;" class="js-pseudo-table__row">
        <div *ngFor="let col of row;     let colId = index;" class="js-pseudo-table__col">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="footCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:col,colId:colId,rowId:rowId}}">
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

  </div>

</div>
