.list {
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &.vertical {
    .list__item {
      display: block;
    }
  }
  &.horisontal {
    .list__item {
      display: inline-block;
    }
  }
  &.decorated {
    .list__item {
      display: list-item;
      list-style: disc inside;
    }
  }
}


@import "./style.list_lookup";



