.list_picklist {
  &.head {
    position: relative;
    z-index: 10;
  }
  &.body {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .33);
    position: absolute;
    padding: 3px;
    width: 100%;
    left: 0;
    top: 0;
  }
}




