.list_lookup {
  border: solid 1px #ddd;
  background-color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .33);
  position: absolute;
  overflow-y: scroll;
  height: 160px;
  z-index: 100;
  width: 100%;
  top: 45px;
  .list__list {
    padding: 3px;
    margin: 0;
  }
  .list__item {
    +.list__item {
      margin-top: 3px;
    }
  }
}








