<!-- -------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------- -->
<h3 class="title txt txt_center txt jsms-title">Table:</h3>
<!-- [captionData]="'My Awesome Uber Shared Table'" -->
<jsng-table 
  [tableHead]="collectionHead" 
  [tableBody]="collectionBody" 
  [tableFoot]="collectionFoot">
  <ng-template #headCellTemplate let-headCel>
    <div class="test_tmp">
      <b>{{headCel.data.label}}</b>
      <span>|</span>
      <span>{{headCel.colId}}</span>
      <span>{{headCel.rowId}}</span>
    </div>
  </ng-template>
  <ng-template #bodyCellTemplate let-bodyCel>
    <div class="test_tmp">
      <b>{{bodyCel.data.label}}</b>
      <span>|</span>
      <span>{{bodyCel.colId}}</span>
      <span>{{bodyCel.rowId}}</span>
    </div>
  </ng-template>
  <ng-template #footCellTemplate let-footCel>
    <div class="test_tmp">
      <b>{{footCel.data.label}}</b>
      <span>|</span>
      <span>{{footCel.colId}}</span>
      <span>{{footCel.rowId}}</span>
    </div>
  </ng-template>
</jsng-table>
<br>
<br>
<br>



<!-- -------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------- -->
<h3 class="title txt txt_center jsms-title">Pseudo-Table (css table)</h3>
<!-- [captionData]="'Example of Tricky Pseudo-Table'" -->
<jsng-pseudo-table 
  [tableHead]="collectionHead" 
  [tableBody]="collectionBody" 
  [tableFoot]="collectionFoot">
  <ng-template #headCellTemplate let-headCel>
    <div class="test_tmp">
      <b>{{headCel.data.label}}</b>
      <span>|</span>
      <span>{{headCel.colId}}</span>
      <span>{{headCel.rowId}}</span>
    </div>
  </ng-template>
  <ng-template #bodyCellTemplate let-bodyCel>
    <div class="test_tmp">
      <b>{{bodyCel.data.label}}</b>
      <span>|</span>
      <span>{{bodyCel.colId}}</span>
      <span>{{bodyCel.rowId}}</span>
    </div>
  </ng-template>
  <ng-template #footCellTemplate let-footCel>
    <div class="test_tmp">
      <b>{{footCel.data.label}}</b>
      <span>|</span>
      <span>{{footCel.colId}}</span>
      <span>{{footCel.rowId}}</span>
    </div>
  </ng-template>
</jsng-pseudo-table>
<br>
<br>
<br>


<!-- -------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------- -->
<h3 class="title txt txt_center jsms-title">Data-Table (table-col-row direction | alternative table)</h3>
<!-- [captionData]="'Example Magnificent Data-Table'" -->
<jsng-data-table
  [tableHead]="weekHead" 
  [tableBody]="weekBody" 
  [tableFoot]="weekFoot">
  <ng-template #headCellTemplate let-headCel>
      <div class="test_tmp">
        <b>{{headCel.data.title}}</b>
        <span>|</span>
        <span>{{headCel.colId}}</span>
        <span>{{headCel.rowId}}</span>
      </div>
    </ng-template>
    <ng-template #bodyCellTemplate let-bodyCel>
      <div class="test_tmp">
        <b>{{bodyCel.data.hour}}</b>
        <span>|</span>
        <span>{{bodyCel.colId}}</span>
        <span>{{bodyCel.rowId}}</span>
      </div>
    </ng-template>
    <ng-template #footCellTemplate let-footCel>
      <div class="test_tmp">
        <span>{{footCel.data.status}}</span>
        <span>|</span>
        <span>{{footCel.colId}}</span>
        <span>{{footCel.rowId}}</span>
      </div>
    </ng-template>
</jsng-data-table>
<br>
<br>
<br>



