// .js-data-table,
// .js-data-table__caption,
// .js-data-table__container,
// .js-data-table__head,
// .js-data-table__body,
// .js-data-table__foot,
// .js-data-table__row,
// .js-data-table__col {
//   outline: solid 1px #555;
// }

.js-data-table {
  color: #555; // just for preview;
  font-weight: normal; // just for preview;
  text-align: left; // just for preview;
  display: block;
}

.js-data-table__caption {}

.js-data-table__container {}

.js-data-table__head {}

.js-data-table__body {}

.js-data-table__foot {}

.js-data-table__col {}

.js-data-table__row {
  padding: 3px;
  border: 1px solid $tblBdr;
}
