<hr>
<h3 class="txt title jsms-title">UTILITY ICONS</h3>

<i class="icon icon_slds slds-utility-icon-activity"></i>
<i class="icon icon_slds slds-utility-icon-add"></i>
<i class="icon icon_slds slds-utility-icon-adduser"></i>
<i class="icon icon_slds slds-utility-icon-ad_set"></i>
<i class="icon icon_slds slds-utility-icon-anchor"></i>
<i class="icon icon_slds slds-utility-icon-animal_and_nature"></i>
<i class="icon icon_slds slds-utility-icon-announcement"></i>
<i class="icon icon_slds slds-utility-icon-answer"></i>
<i class="icon icon_slds slds-utility-icon-answered_twice"></i>
<i class="icon icon_slds slds-utility-icon-apex"></i>
<i class="icon icon_slds slds-utility-icon-approval"></i>
<i class="icon icon_slds slds-utility-icon-apps"></i>
<i class="icon icon_slds slds-utility-icon-arrowdown"></i>
<i class="icon icon_slds slds-utility-icon-arrowup"></i>
<i class="icon icon_slds slds-utility-icon-attach"></i>
<i class="icon icon_slds slds-utility-icon-automate"></i>
<i class="icon icon_slds slds-utility-icon-back"></i>
<i class="icon icon_slds slds-utility-icon-ban"></i>
<i class="icon icon_slds slds-utility-icon-block_visitor"></i>
<i class="icon icon_slds slds-utility-icon-bold"></i>
<i class="icon icon_slds slds-utility-icon-bookmark"></i>
<i class="icon icon_slds slds-utility-icon-breadcrumbs"></i>
<i class="icon icon_slds slds-utility-icon-broadcast"></i>
<i class="icon icon_slds slds-utility-icon-brush"></i>
<i class="icon icon_slds slds-utility-icon-bucket"></i>
<i class="icon icon_slds slds-utility-icon-builder"></i>
<i class="icon icon_slds slds-utility-icon-call"></i>
<i class="icon icon_slds slds-utility-icon-campaign"></i>
<i class="icon icon_slds slds-utility-icon-cancel_file_request"></i>
<i class="icon icon_slds slds-utility-icon-cancel_transfer"></i>
<i class="icon icon_slds slds-utility-icon-capslock"></i>
<i class="icon icon_slds slds-utility-icon-case"></i>
<i class="icon icon_slds slds-utility-icon-cases"></i>
<i class="icon icon_slds slds-utility-icon-center_align_text"></i>
<i class="icon icon_slds slds-utility-icon-change_owner"></i>
<i class="icon icon_slds slds-utility-icon-change_record_type"></i>
<i class="icon icon_slds slds-utility-icon-chart"></i>
<i class="icon icon_slds slds-utility-icon-chat"></i>
<i class="icon icon_slds slds-utility-icon-check"></i>
<i class="icon icon_slds slds-utility-icon-checkin"></i>
<i class="icon icon_slds slds-utility-icon-chevrondown"></i>
<i class="icon icon_slds slds-utility-icon-chevronleft"></i>
<i class="icon icon_slds slds-utility-icon-chevronright"></i>
<i class="icon icon_slds slds-utility-icon-chevronup"></i>
<i class="icon icon_slds slds-utility-icon-classic_interface"></i>
<i class="icon icon_slds slds-utility-icon-clear"></i>
<i class="icon icon_slds slds-utility-icon-clock"></i>
<i class="icon icon_slds slds-utility-icon-close"></i>
<i class="icon icon_slds slds-utility-icon-collapse_all"></i>
<i class="icon icon_slds slds-utility-icon-comments"></i>
<i class="icon icon_slds slds-utility-icon-company"></i>
<i class="icon icon_slds slds-utility-icon-connected_apps"></i>
<i class="icon icon_slds slds-utility-icon-contract"></i>
<i class="icon icon_slds slds-utility-icon-contract_alt"></i>
<i class="icon icon_slds slds-utility-icon-copy"></i>
<i class="icon icon_slds slds-utility-icon-copy_to_clipboard"></i>
<i class="icon icon_slds slds-utility-icon-crossfilter"></i>
<i class="icon icon_slds slds-utility-icon-custom_apps"></i>
<i class="icon icon_slds slds-utility-icon-cut"></i>
<i class="icon icon_slds slds-utility-icon-dash"></i>
<i class="icon icon_slds slds-utility-icon-database"></i>
<i class="icon icon_slds slds-utility-icon-datadotcom"></i>
<i class="icon icon_slds slds-utility-icon-dayview"></i>
<i class="icon icon_slds slds-utility-icon-delete"></i>
<i class="icon icon_slds slds-utility-icon-deprecate"></i>
<i class="icon icon_slds slds-utility-icon-description"></i>
<i class="icon icon_slds slds-utility-icon-desktop"></i>
<i class="icon icon_slds slds-utility-icon-dislike"></i>
<i class="icon icon_slds slds-utility-icon-dock_panel"></i>
<i class="icon icon_slds slds-utility-icon-down"></i>
<i class="icon icon_slds slds-utility-icon-download"></i>
<i class="icon icon_slds slds-utility-icon-edit"></i>
<i class="icon icon_slds slds-utility-icon-edit_form"></i>
<i class="icon icon_slds slds-utility-icon-email"></i>
<i class="icon icon_slds slds-utility-icon-emoji"></i>
<i class="icon icon_slds slds-utility-icon-end_call"></i>
<i class="icon icon_slds slds-utility-icon-end_chat"></i>
<i class="icon icon_slds slds-utility-icon-erect_window"></i>
<i class="icon icon_slds slds-utility-icon-error"></i>
<i class="icon icon_slds slds-utility-icon-event"></i>
<i class="icon icon_slds slds-utility-icon-expand"></i>
<i class="icon icon_slds slds-utility-icon-expand_all"></i>
<i class="icon icon_slds slds-utility-icon-expand_alt"></i>
<i class="icon icon_slds slds-utility-icon-fallback"></i>
<i class="icon icon_slds slds-utility-icon-favorite"></i>
<i class="icon icon_slds slds-utility-icon-feed"></i>
<i class="icon icon_slds slds-utility-icon-file"></i>
<i class="icon icon_slds slds-utility-icon-filter"></i>
<i class="icon icon_slds slds-utility-icon-filterList"></i>
<i class="icon icon_slds slds-utility-icon-flow"></i>
<i class="icon icon_slds slds-utility-icon-food_and_drink"></i>
<i class="icon icon_slds slds-utility-icon-forward"></i>
<i class="icon icon_slds slds-utility-icon-frozen"></i>
<i class="icon icon_slds slds-utility-icon-full_width_view"></i>
<i class="icon icon_slds slds-utility-icon-graph"></i>
<i class="icon icon_slds slds-utility-icon-groups"></i>
<i class="icon icon_slds slds-utility-icon-help"></i>
<i class="icon icon_slds slds-utility-icon-hide"></i>
<i class="icon icon_slds slds-utility-icon-home"></i>
<i class="icon icon_slds slds-utility-icon-identity"></i>
<i class="icon icon_slds slds-utility-icon-image"></i>
<i class="icon icon_slds slds-utility-icon-inbox"></i>
<i class="icon icon_slds slds-utility-icon-info"></i>
<i class="icon icon_slds slds-utility-icon-info_alt"></i>
<i class="icon icon_slds slds-utility-icon-insert_tag_field"></i>
<i class="icon icon_slds slds-utility-icon-insert_template"></i>
<i class="icon icon_slds slds-utility-icon-internal_share"></i>
<i class="icon icon_slds slds-utility-icon-italic"></i>
<i class="icon icon_slds slds-utility-icon-jump_to_bottom"></i>
<i class="icon icon_slds slds-utility-icon-jump_to_top"></i>
<i class="icon icon_slds slds-utility-icon-justify_text"></i>
<i class="icon icon_slds slds-utility-icon-kanban"></i>
<i class="icon icon_slds slds-utility-icon-keyboard_dismiss"></i>
<i class="icon icon_slds slds-utility-icon-knowledge_base"></i>
<i class="icon icon_slds slds-utility-icon-layers"></i>
<i class="icon icon_slds slds-utility-icon-layout"></i>
<i class="icon icon_slds slds-utility-icon-left"></i>
<i class="icon icon_slds slds-utility-icon-left_align_text"></i>
<i class="icon icon_slds slds-utility-icon-level_up"></i>
<i class="icon icon_slds slds-utility-icon-light_bulb"></i>
<i class="icon icon_slds slds-utility-icon-like"></i>
<i class="icon icon_slds slds-utility-icon-link"></i>
<i class="icon icon_slds slds-utility-icon-list"></i>
<i class="icon icon_slds slds-utility-icon-location"></i>
<i class="icon icon_slds slds-utility-icon-lock"></i>
<i class="icon icon_slds slds-utility-icon-log_a_call"></i>
<i class="icon icon_slds slds-utility-icon-logout"></i>
<i class="icon icon_slds slds-utility-icon-lower_flag"></i>
<i class="icon icon_slds slds-utility-icon-macros"></i>
<i class="icon icon_slds slds-utility-icon-magicwand"></i>
<i class="icon icon_slds slds-utility-icon-mark_all_as_read"></i>
<i class="icon icon_slds slds-utility-icon-matrix"></i>
<i class="icon icon_slds slds-utility-icon-merge"></i>
<i class="icon icon_slds slds-utility-icon-merge_field"></i>
<i class="icon icon_slds slds-utility-icon-metrics"></i>
<i class="icon icon_slds slds-utility-icon-minimize_window"></i>
<i class="icon icon_slds slds-utility-icon-moneybag"></i>
<i class="icon icon_slds slds-utility-icon-monthlyview"></i>
<i class="icon icon_slds slds-utility-icon-move"></i>
<i class="icon icon_slds slds-utility-icon-muted"></i>
<i class="icon icon_slds slds-utility-icon-new"></i>
<i class="icon icon_slds slds-utility-icon-new_direct_message"></i>
<i class="icon icon_slds slds-utility-icon-news"></i>
<i class="icon icon_slds slds-utility-icon-new_window"></i>
<i class="icon icon_slds slds-utility-icon-note"></i>
<i class="icon icon_slds slds-utility-icon-notebook"></i>
<i class="icon icon_slds slds-utility-icon-notification"></i>
<i class="icon icon_slds slds-utility-icon-office365"></i>
<i class="icon icon_slds slds-utility-icon-offline"></i>
<i class="icon icon_slds slds-utility-icon-offline_cached"></i>
<i class="icon icon_slds slds-utility-icon-omni_channel"></i>
<i class="icon icon_slds slds-utility-icon-open"></i>
<i class="icon icon_slds slds-utility-icon-opened_folder"></i>
<i class="icon icon_slds slds-utility-icon-open_folder"></i>
<i class="icon icon_slds slds-utility-icon-overflow"></i>
<i class="icon icon_slds slds-utility-icon-package"></i>
<i class="icon icon_slds slds-utility-icon-package_org"></i>
<i class="icon icon_slds slds-utility-icon-package_org_beta"></i>
<i class="icon icon_slds slds-utility-icon-page"></i>
<i class="icon icon_slds slds-utility-icon-palette"></i>
<i class="icon icon_slds slds-utility-icon-paste"></i>
<i class="icon icon_slds slds-utility-icon-pause"></i>
<i class="icon icon_slds slds-utility-icon-people"></i>
<i class="icon icon_slds slds-utility-icon-phone_landscape"></i>
<i class="icon icon_slds slds-utility-icon-phone_portrait"></i>
<i class="icon icon_slds slds-utility-icon-photo"></i>
<i class="icon icon_slds slds-utility-icon-picklist"></i>
<i class="icon icon_slds slds-utility-icon-pin"></i>
<i class="icon icon_slds slds-utility-icon-pinned"></i>
<i class="icon icon_slds slds-utility-icon-power"></i>
<i class="icon icon_slds slds-utility-icon-preview"></i>
<i class="icon icon_slds slds-utility-icon-priority"></i>
<i class="icon icon_slds slds-utility-icon-privately_shared"></i>
<i class="icon icon_slds slds-utility-icon-process"></i>
<i class="icon icon_slds slds-utility-icon-push"></i>
<i class="icon icon_slds slds-utility-icon-puzzle"></i>
<i class="icon icon_slds slds-utility-icon-question"></i>
<i class="icon icon_slds slds-utility-icon-question_mark"></i>
<i class="icon icon_slds slds-utility-icon-questions_and_answers"></i>
<i class="icon icon_slds slds-utility-icon-quick_text"></i>
<i class="icon icon_slds slds-utility-icon-quotation_marks"></i>
<i class="icon icon_slds slds-utility-icon-rating"></i>
<i class="icon icon_slds slds-utility-icon-record"></i>
<i class="icon icon_slds slds-utility-icon-record_create"></i>
<i class="icon icon_slds slds-utility-icon-redo"></i>
<i class="icon icon_slds slds-utility-icon-refresh"></i>
<i class="icon icon_slds slds-utility-icon-relate"></i>
<i class="icon icon_slds slds-utility-icon-reminder"></i>
<i class="icon icon_slds slds-utility-icon-remove_formatting"></i>
<i class="icon icon_slds slds-utility-icon-remove_link"></i>
<i class="icon icon_slds slds-utility-icon-replace"></i>
<i class="icon icon_slds slds-utility-icon-reply"></i>
<i class="icon icon_slds slds-utility-icon-reply_all"></i>
<i class="icon icon_slds slds-utility-icon-reset_password"></i>
<i class="icon icon_slds slds-utility-icon-resource_absence"></i>
<i class="icon icon_slds slds-utility-icon-resource_capacity"></i>
<i class="icon icon_slds slds-utility-icon-resource_territory"></i>
<i class="icon icon_slds slds-utility-icon-retweet"></i>
<i class="icon icon_slds slds-utility-icon-richtextbulletedlist"></i>
<i class="icon icon_slds slds-utility-icon-richtextindent"></i>
<i class="icon icon_slds slds-utility-icon-richtextnumberedlist"></i>
<i class="icon icon_slds slds-utility-icon-richtextoutdent"></i>
<i class="icon icon_slds slds-utility-icon-right"></i>
<i class="icon icon_slds slds-utility-icon-right_align_text"></i>
<i class="icon icon_slds slds-utility-icon-rotate"></i>
<i class="icon icon_slds slds-utility-icon-rows"></i>
<i class="icon icon_slds slds-utility-icon-rules"></i>
<i class="icon icon_slds slds-utility-icon-salesforce1"></i>
<i class="icon icon_slds slds-utility-icon-save"></i>
<i class="icon icon_slds slds-utility-icon-search"></i>
<i class="icon icon_slds slds-utility-icon-settings"></i>
<i class="icon icon_slds slds-utility-icon-setup"></i>
<i class="icon icon_slds slds-utility-icon-setup_assistant_guide"></i>
<i class="icon icon_slds slds-utility-icon-share"></i>
<i class="icon icon_slds slds-utility-icon-share_file"></i>
<i class="icon icon_slds slds-utility-icon-share_mobile"></i>
<i class="icon icon_slds slds-utility-icon-share_post"></i>
<i class="icon icon_slds slds-utility-icon-shield"></i>
<i class="icon icon_slds slds-utility-icon-shopping_bag"></i>
<i class="icon icon_slds slds-utility-icon-side_list"></i>
<i class="icon icon_slds slds-utility-icon-signpost"></i>
<i class="icon icon_slds slds-utility-icon-smiley_and_people"></i>
<i class="icon icon_slds slds-utility-icon-sms"></i>
<i class="icon icon_slds slds-utility-icon-snippet"></i>
<i class="icon icon_slds slds-utility-icon-socialshare"></i>
<i class="icon icon_slds slds-utility-icon-sort"></i>
<i class="icon icon_slds slds-utility-icon-spinner"></i>
<i class="icon icon_slds slds-utility-icon-standard_objects"></i>
<i class="icon icon_slds slds-utility-icon-stop"></i>
<i class="icon icon_slds slds-utility-icon-strikethrough"></i>
<i class="icon icon_slds slds-utility-icon-success"></i>
<i class="icon icon_slds slds-utility-icon-summary"></i>
<i class="icon icon_slds slds-utility-icon-summarydetail"></i>
<i class="icon icon_slds slds-utility-icon-switch"></i>
<i class="icon icon_slds slds-utility-icon-symbols"></i>
<i class="icon icon_slds slds-utility-icon-sync"></i>
<i class="icon icon_slds slds-utility-icon-table"></i>
<i class="icon icon_slds slds-utility-icon-tablet_landscape"></i>
<i class="icon icon_slds slds-utility-icon-tablet_portrait"></i>
<i class="icon icon_slds slds-utility-icon-tabset"></i>
<i class="icon icon_slds slds-utility-icon-task"></i>
<i class="icon icon_slds slds-utility-icon-text_background_color"></i>
<i class="icon icon_slds slds-utility-icon-text_color"></i>
<i class="icon icon_slds slds-utility-icon-threedots"></i>
<i class="icon icon_slds slds-utility-icon-threedots_vertical"></i>
<i class="icon icon_slds slds-utility-icon-thunder"></i>
<i class="icon icon_slds slds-utility-icon-tile_card_list"></i>
<i class="icon icon_slds slds-utility-icon-topic"></i>
<i class="icon icon_slds slds-utility-icon-touch_action"></i>
<i class="icon icon_slds slds-utility-icon-trail"></i>
<i class="icon icon_slds slds-utility-icon-travel_and_places"></i>
<i class="icon icon_slds slds-utility-icon-trending"></i>
<i class="icon icon_slds slds-utility-icon-turn_off_notifications"></i>
<i class="icon icon_slds slds-utility-icon-type_tool"></i>
<i class="icon icon_slds slds-utility-icon-undelete"></i>
<i class="icon icon_slds slds-utility-icon-undeprecate"></i>
<i class="icon icon_slds slds-utility-icon-underline"></i>
<i class="icon icon_slds slds-utility-icon-undo"></i>
<i class="icon icon_slds slds-utility-icon-unlock"></i>
<i class="icon icon_slds slds-utility-icon-unmuted"></i>
<i class="icon icon_slds slds-utility-icon-up"></i>
<i class="icon icon_slds slds-utility-icon-upload"></i>
<i class="icon icon_slds slds-utility-icon-user"></i>
<i class="icon icon_slds slds-utility-icon-user_role"></i>
<i class="icon icon_slds slds-utility-icon-video"></i>
<i class="icon icon_slds slds-utility-icon-voicemail_drop"></i>
<i class="icon icon_slds slds-utility-icon-volume_high"></i>
<i class="icon icon_slds slds-utility-icon-volume_low"></i>
<i class="icon icon_slds slds-utility-icon-volume_off"></i>
<i class="icon icon_slds slds-utility-icon-warning"></i>
<i class="icon icon_slds slds-utility-icon-weeklyview"></i>
<i class="icon icon_slds slds-utility-icon-wifi"></i>
<i class="icon icon_slds slds-utility-icon-work_order_type"></i>
<i class="icon icon_slds slds-utility-icon-world"></i>
<i class="icon icon_slds slds-utility-icon-yubi_key"></i>
<i class="icon icon_slds slds-utility-icon-zoomin"></i>
<i class="icon icon_slds slds-utility-icon-zoomout"></i>









