.form_settings {
  .form__container {
    position: relative;
    &.fieldset {
      border: solid 1px $tblBdr;
      padding: 0;
      margin: 0;
      & + .fieldset {
        margin-top: 20px;
      }
      .legend {
        font-size: 10px;
        text-transform: uppercase;
        line-height: 20px;
        margin: 0 0 0 60px;
        padding: 0 10px;
      }
    }
  }
  .form__row {
    padding: 10px 10px 18px 10px;
  }
  .form__col {
    &.disabled {
      position: relative;
      opacity: .6;
      z-index: 1;
      &:before {
        background-color: rgba(255,255,255,.6);
        cursor: not-allowed;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
      }
    }
    padding: 0 10px;
  }
}




