<hr>
<h3 class="txt title jsms-title">ACTION ICONS</h3>

<i class="icon icon_slds slds-active-icon-add_contact"></i>
<i class="icon icon_slds slds-active-icon-add_file"></i>
<i class="icon icon_slds slds-active-icon-add_photo_video"></i>
<i class="icon icon_slds slds-active-icon-add_relationship"></i>
<i class="icon icon_slds slds-active-icon-announcement"></i>
<i class="icon icon_slds slds-active-icon-apex"></i>
<i class="icon icon_slds slds-active-icon-approval"></i>
<i class="icon icon_slds slds-active-icon-back"></i>
<i class="icon icon_slds slds-active-icon-call"></i>
<i class="icon icon_slds slds-active-icon-canvas"></i>
<i class="icon icon_slds slds-active-icon-change_owner"></i>
<i class="icon icon_slds slds-active-icon-change_record_type"></i>
<i class="icon icon_slds slds-active-icon-check"></i>
<i class="icon icon_slds slds-active-icon-clone"></i>
<i class="icon icon_slds slds-active-icon-close"></i>
<i class="icon icon_slds slds-active-icon-defer"></i>
<i class="icon icon_slds slds-active-icon-delete"></i>
<i class="icon icon_slds slds-active-icon-description"></i>
<i class="icon icon_slds slds-active-icon-dial_in"></i>
<i class="icon icon_slds slds-active-icon-download"></i>
<i class="icon icon_slds slds-active-icon-edit"></i>
<i class="icon icon_slds slds-active-icon-edit_groups"></i>
<i class="icon icon_slds slds-active-icon-edit_relationship"></i>
<i class="icon icon_slds slds-active-icon-email"></i>
<i class="icon icon_slds slds-active-icon-fallback"></i>
<i class="icon icon_slds slds-active-icon-filter"></i>
<i class="icon icon_slds slds-active-icon-flow"></i>
<i class="icon icon_slds slds-active-icon-follow"></i>
<i class="icon icon_slds slds-active-icon-following"></i>
<i class="icon icon_slds slds-active-icon-freeze_user"></i>
<i class="icon icon_slds slds-active-icon-goal"></i>
<i class="icon icon_slds slds-active-icon-google_news"></i>
<i class="icon icon_slds slds-active-icon-info"></i>
<i class="icon icon_slds slds-active-icon-join_group"></i>
<i class="icon icon_slds slds-active-icon-lead_convert"></i>
<i class="icon icon_slds slds-active-icon-leave_group"></i>
<i class="icon icon_slds slds-active-icon-log_a_call"></i>
<i class="icon icon_slds slds-active-icon-log_event"></i>
<i class="icon icon_slds slds-active-icon-manage_perm_sets"></i>
<i class="icon icon_slds slds-active-icon-map"></i>
<i class="icon icon_slds slds-active-icon-more"></i>
<i class="icon icon_slds slds-active-icon-new"></i>
<i class="icon icon_slds slds-active-icon-new_account"></i>
<i class="icon icon_slds slds-active-icon-new_campaign"></i>
<i class="icon icon_slds slds-active-icon-new_case"></i>
<i class="icon icon_slds slds-active-icon-new_child_case"></i>
<i class="icon icon_slds slds-active-icon-new_contact"></i>
<i class="icon icon_slds slds-active-icon-new_custom1"></i>
<i class="icon icon_slds slds-active-icon-new_custom2"></i>
<i class="icon icon_slds slds-active-icon-new_custom3"></i>
<i class="icon icon_slds slds-active-icon-new_custom4"></i>
<i class="icon icon_slds slds-active-icon-new_custom5"></i>
<i class="icon icon_slds slds-active-icon-new_custom6"></i>
<i class="icon icon_slds slds-active-icon-new_custom7"></i>
<i class="icon icon_slds slds-active-icon-new_custom8"></i>
<i class="icon icon_slds slds-active-icon-new_custom9"></i>
<i class="icon icon_slds slds-active-icon-new_custom10"></i>
<i class="icon icon_slds slds-active-icon-new_custom11"></i>
<i class="icon icon_slds slds-active-icon-new_custom12"></i>
<i class="icon icon_slds slds-active-icon-new_custom13"></i>
<i class="icon icon_slds slds-active-icon-new_custom14"></i>
<i class="icon icon_slds slds-active-icon-new_custom15"></i>
<i class="icon icon_slds slds-active-icon-new_custom16"></i>
<i class="icon icon_slds slds-active-icon-new_custom17"></i>
<i class="icon icon_slds slds-active-icon-new_custom18"></i>
<i class="icon icon_slds slds-active-icon-new_custom19"></i>
<i class="icon icon_slds slds-active-icon-new_custom20"></i>
<i class="icon icon_slds slds-active-icon-new_custom21"></i>
<i class="icon icon_slds slds-active-icon-new_custom22"></i>
<i class="icon icon_slds slds-active-icon-new_custom23"></i>
<i class="icon icon_slds slds-active-icon-new_custom24"></i>
<i class="icon icon_slds slds-active-icon-new_custom25"></i>
<i class="icon icon_slds slds-active-icon-new_custom26"></i>
<i class="icon icon_slds slds-active-icon-new_custom27"></i>
<i class="icon icon_slds slds-active-icon-new_custom28"></i>
<i class="icon icon_slds slds-active-icon-new_custom29"></i>
<i class="icon icon_slds slds-active-icon-new_custom30"></i>
<i class="icon icon_slds slds-active-icon-new_custom31"></i>
<i class="icon icon_slds slds-active-icon-new_custom32"></i>
<i class="icon icon_slds slds-active-icon-new_custom33"></i>
<i class="icon icon_slds slds-active-icon-new_custom34"></i>
<i class="icon icon_slds slds-active-icon-new_custom35"></i>
<i class="icon icon_slds slds-active-icon-new_custom36"></i>
<i class="icon icon_slds slds-active-icon-new_custom37"></i>
<i class="icon icon_slds slds-active-icon-new_custom38"></i>
<i class="icon icon_slds slds-active-icon-new_custom39"></i>
<i class="icon icon_slds slds-active-icon-new_custom40"></i>
<i class="icon icon_slds slds-active-icon-new_custom41"></i>
<i class="icon icon_slds slds-active-icon-new_custom42"></i>
<i class="icon icon_slds slds-active-icon-new_custom43"></i>
<i class="icon icon_slds slds-active-icon-new_custom44"></i>
<i class="icon icon_slds slds-active-icon-new_custom45"></i>
<i class="icon icon_slds slds-active-icon-new_custom46"></i>
<i class="icon icon_slds slds-active-icon-new_custom47"></i>
<i class="icon icon_slds slds-active-icon-new_custom48"></i>
<i class="icon icon_slds slds-active-icon-new_custom49"></i>
<i class="icon icon_slds slds-active-icon-new_custom50"></i>
<i class="icon icon_slds slds-active-icon-new_custom51"></i>
<i class="icon icon_slds slds-active-icon-new_custom52"></i>
<i class="icon icon_slds slds-active-icon-new_custom53"></i>
<i class="icon icon_slds slds-active-icon-new_custom54"></i>
<i class="icon icon_slds slds-active-icon-new_custom55"></i>
<i class="icon icon_slds slds-active-icon-new_custom56"></i>
<i class="icon icon_slds slds-active-icon-new_custom57"></i>
<i class="icon icon_slds slds-active-icon-new_custom58"></i>
<i class="icon icon_slds slds-active-icon-new_custom59"></i>
<i class="icon icon_slds slds-active-icon-new_custom60"></i>
<i class="icon icon_slds slds-active-icon-new_custom61"></i>
<i class="icon icon_slds slds-active-icon-new_custom62"></i>
<i class="icon icon_slds slds-active-icon-new_custom63"></i>
<i class="icon icon_slds slds-active-icon-new_custom64"></i>
<i class="icon icon_slds slds-active-icon-new_custom65"></i>
<i class="icon icon_slds slds-active-icon-new_custom66"></i>
<i class="icon icon_slds slds-active-icon-new_custom67"></i>
<i class="icon icon_slds slds-active-icon-new_custom68"></i>
<i class="icon icon_slds slds-active-icon-new_custom69"></i>
<i class="icon icon_slds slds-active-icon-new_custom70"></i>
<i class="icon icon_slds slds-active-icon-new_custom71"></i>
<i class="icon icon_slds slds-active-icon-new_custom72"></i>
<i class="icon icon_slds slds-active-icon-new_custom73"></i>
<i class="icon icon_slds slds-active-icon-new_custom74"></i>
<i class="icon icon_slds slds-active-icon-new_custom75"></i>
<i class="icon icon_slds slds-active-icon-new_custom76"></i>
<i class="icon icon_slds slds-active-icon-new_custom77"></i>
<i class="icon icon_slds slds-active-icon-new_custom78"></i>
<i class="icon icon_slds slds-active-icon-new_custom79"></i>
<i class="icon icon_slds slds-active-icon-new_custom80"></i>
<i class="icon icon_slds slds-active-icon-new_custom81"></i>
<i class="icon icon_slds slds-active-icon-new_custom82"></i>
<i class="icon icon_slds slds-active-icon-new_custom83"></i>
<i class="icon icon_slds slds-active-icon-new_custom84"></i>
<i class="icon icon_slds slds-active-icon-new_custom85"></i>
<i class="icon icon_slds slds-active-icon-new_custom86"></i>
<i class="icon icon_slds slds-active-icon-new_custom87"></i>
<i class="icon icon_slds slds-active-icon-new_custom88"></i>
<i class="icon icon_slds slds-active-icon-new_custom89"></i>
<i class="icon icon_slds slds-active-icon-new_custom90"></i>
<i class="icon icon_slds slds-active-icon-new_custom91"></i>
<i class="icon icon_slds slds-active-icon-new_custom92"></i>
<i class="icon icon_slds slds-active-icon-new_custom93"></i>
<i class="icon icon_slds slds-active-icon-new_custom94"></i>
<i class="icon icon_slds slds-active-icon-new_custom95"></i>
<i class="icon icon_slds slds-active-icon-new_custom96"></i>
<i class="icon icon_slds slds-active-icon-new_custom97"></i>
<i class="icon icon_slds slds-active-icon-new_custom98"></i>
<i class="icon icon_slds slds-active-icon-new_custom99"></i>
<i class="icon icon_slds slds-active-icon-new_custom100"></i>
<i class="icon icon_slds slds-active-icon-new_event"></i>
<i class="icon icon_slds slds-active-icon-new_group"></i>
<i class="icon icon_slds slds-active-icon-new_lead"></i>
<i class="icon icon_slds slds-active-icon-new_note"></i>
<i class="icon icon_slds slds-active-icon-new_notebook"></i>
<i class="icon icon_slds slds-active-icon-new_opportunity"></i>
<i class="icon icon_slds slds-active-icon-new_person_account"></i>
<i class="icon icon_slds slds-active-icon-new_task"></i>
<i class="icon icon_slds slds-active-icon-password_unlock"></i>
<i class="icon icon_slds slds-active-icon-preview"></i>
<i class="icon icon_slds slds-active-icon-priority"></i>
<i class="icon icon_slds slds-active-icon-question_post_action"></i>
<i class="icon icon_slds slds-active-icon-quote"></i>
<i class="icon icon_slds slds-active-icon-recall"></i>
<i class="icon icon_slds slds-active-icon-record"></i>
<i class="icon icon_slds slds-active-icon-refresh"></i>
<i class="icon icon_slds slds-active-icon-reject"></i>
<i class="icon icon_slds slds-active-icon-remove"></i>
<i class="icon icon_slds slds-active-icon-remove_relationship"></i>
<i class="icon icon_slds slds-active-icon-reset_password"></i>
<i class="icon icon_slds slds-active-icon-share"></i>
<i class="icon icon_slds slds-active-icon-share_file"></i>
<i class="icon icon_slds slds-active-icon-share_link"></i>
<i class="icon icon_slds slds-active-icon-share_poll"></i>
<i class="icon icon_slds slds-active-icon-share_post"></i>
<i class="icon icon_slds slds-active-icon-share_thanks"></i>
<i class="icon icon_slds slds-active-icon-sort"></i>
<i class="icon icon_slds slds-active-icon-submit_for_approval"></i>
<i class="icon icon_slds slds-active-icon-update"></i>
<i class="icon icon_slds slds-active-icon-update_status"></i>
<i class="icon icon_slds slds-active-icon-upload"></i>
<i class="icon icon_slds slds-active-icon-user"></i>
<i class="icon icon_slds slds-active-icon-user_activation"></i>
<i class="icon icon_slds slds-active-icon-view_relationship"></i>
<i class="icon icon_slds slds-active-icon-web_link"></i>




