<div class="wrapper">
  <h1>JobScience Angular Features Library</h1>
  <div class="list horisontal">
    <ul class="list__list">
      <li class="list__item item" routerLinkActive="active">
        <a class="link" [routerLink]="['./components']" href="javascript:void(0);">Components</a> | 
      </li>
      <li class="list__item item" routerLinkActive="active">
        <a class="link" [routerLink]="['./attribute-directives']" href="javascript:void(0);">Attribute Directives</a> | 
      </li>
      <li class="list__item item" routerLinkActive="active">
        <a class="link" [routerLink]="['./assets']" href="javascript:void(0);">Assets</a>
      </li>
    </ul>
  </div>
  <hr>
  <router-outlet></router-outlet>
</div>  

