@font-face {
  font-family: 'slds-utility-icon';
  src:  url('./assets/fonts/slds-utility-icon.eot?v3snk4');
  src:  url('./assets/fonts/slds-utility-icon.eot?v3snk4#iefix') format('embedded-opentype'),
        url('./assets/fonts/slds-utility-icon.ttf?v3snk4') format('truetype'),
        url('./assets/fonts/slds-utility-icon.woff?v3snk4') format('woff'),
        url('./assets/fonts/slds-utility-icon.svg?v3snk4#slds-utility-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="slds-utility-icon-"], [class*=" slds-utility-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'slds-utility-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.slds-utility-icon-activity:before {
  content: "\e900";
}
.slds-utility-icon-add:before {
  content: "\e901";
}
.slds-utility-icon-adduser:before {
  content: "\e902";
}
.slds-utility-icon-ad_set:before {
  content: "\e903";
}
.slds-utility-icon-anchor:before {
  content: "\e904";
}
.slds-utility-icon-animal_and_nature:before {
  content: "\e905";
}
.slds-utility-icon-announcement:before {
  content: "\e906";
}
.slds-utility-icon-answer:before {
  content: "\e907";
}
.slds-utility-icon-answered_twice:before {
  content: "\e908";
}
.slds-utility-icon-apex:before {
  content: "\e909";
}
.slds-utility-icon-approval:before {
  content: "\e90a";
}
.slds-utility-icon-apps:before {
  content: "\e90b";
}
.slds-utility-icon-arrowdown:before {
  content: "\e90c";
}
.slds-utility-icon-arrowup:before {
  content: "\e90d";
}
.slds-utility-icon-attach:before {
  content: "\e90e";
}
.slds-utility-icon-automate:before {
  content: "\e90f";
}
.slds-utility-icon-back:before {
  content: "\e910";
}
.slds-utility-icon-ban:before {
  content: "\e911";
}
.slds-utility-icon-block_visitor:before {
  content: "\e912";
}
.slds-utility-icon-bold:before {
  content: "\e913";
}
.slds-utility-icon-bookmark:before {
  content: "\e914";
}
.slds-utility-icon-breadcrumbs:before {
  content: "\e915";
}
.slds-utility-icon-broadcast:before {
  content: "\e916";
}
.slds-utility-icon-brush:before {
  content: "\e917";
}
.slds-utility-icon-bucket:before {
  content: "\e918";
}
.slds-utility-icon-builder:before {
  content: "\e919";
}
.slds-utility-icon-call:before {
  content: "\e91a";
}
.slds-utility-icon-campaign:before {
  content: "\e91b";
}
.slds-utility-icon-cancel_file_request:before {
  content: "\e91c";
}
.slds-utility-icon-cancel_transfer:before {
  content: "\e91d";
}
.slds-utility-icon-capslock:before {
  content: "\e91e";
}
.slds-utility-icon-case:before {
  content: "\e91f";
}
.slds-utility-icon-cases:before {
  content: "\e920";
}
.slds-utility-icon-center_align_text:before {
  content: "\e921";
}
.slds-utility-icon-change_owner:before {
  content: "\e922";
}
.slds-utility-icon-change_record_type:before {
  content: "\e923";
}
.slds-utility-icon-chart:before {
  content: "\e924";
}
.slds-utility-icon-chat:before {
  content: "\e925";
}
.slds-utility-icon-check:before {
  content: "\e926";
}
.slds-utility-icon-checkin:before {
  content: "\e927";
}
.slds-utility-icon-chevrondown:before {
  content: "\e928";
}
.slds-utility-icon-chevronleft:before {
  content: "\e929";
}
.slds-utility-icon-chevronright:before {
  content: "\e92a";
}
.slds-utility-icon-chevronup:before {
  content: "\e92b";
}
.slds-utility-icon-classic_interface:before {
  content: "\e92c";
}
.slds-utility-icon-clear:before {
  content: "\e92d";
}
.slds-utility-icon-clock:before {
  content: "\e92e";
}
.slds-utility-icon-close:before {
  content: "\e92f";
}
.slds-utility-icon-collapse_all:before {
  content: "\e930";
}
.slds-utility-icon-comments:before {
  content: "\e931";
}
.slds-utility-icon-company:before {
  content: "\e932";
}
.slds-utility-icon-connected_apps:before {
  content: "\e933";
}
.slds-utility-icon-contract:before {
  content: "\e934";
}
.slds-utility-icon-contract_alt:before {
  content: "\e935";
}
.slds-utility-icon-copy:before {
  content: "\e936";
}
.slds-utility-icon-copy_to_clipboard:before {
  content: "\e937";
}
.slds-utility-icon-crossfilter:before {
  content: "\e938";
}
.slds-utility-icon-custom_apps:before {
  content: "\e939";
}
.slds-utility-icon-cut:before {
  content: "\e93a";
}
.slds-utility-icon-dash:before {
  content: "\e93b";
}
.slds-utility-icon-database:before {
  content: "\e93c";
}
.slds-utility-icon-datadotcom:before {
  content: "\e93d";
}
.slds-utility-icon-dayview:before {
  content: "\e93e";
}
.slds-utility-icon-delete:before {
  content: "\e93f";
}
.slds-utility-icon-deprecate:before {
  content: "\e940";
}
.slds-utility-icon-description:before {
  content: "\e941";
}
.slds-utility-icon-desktop:before {
  content: "\e942";
}
.slds-utility-icon-dislike:before {
  content: "\e943";
}
.slds-utility-icon-dock_panel:before {
  content: "\e944";
}
.slds-utility-icon-down:before {
  content: "\e945";
}
.slds-utility-icon-download:before {
  content: "\e946";
}
.slds-utility-icon-edit:before {
  content: "\e947";
}
.slds-utility-icon-edit_form:before {
  content: "\e948";
}
.slds-utility-icon-email:before {
  content: "\e949";
}
.slds-utility-icon-emoji:before {
  content: "\e94a";
}
.slds-utility-icon-end_call:before {
  content: "\e94b";
}
.slds-utility-icon-end_chat:before {
  content: "\e94c";
}
.slds-utility-icon-erect_window:before {
  content: "\e94d";
}
.slds-utility-icon-error:before {
  content: "\e94e";
}
.slds-utility-icon-event:before {
  content: "\e94f";
}
.slds-utility-icon-expand:before {
  content: "\e950";
}
.slds-utility-icon-expand_all:before {
  content: "\e951";
}
.slds-utility-icon-expand_alt:before {
  content: "\e952";
}
.slds-utility-icon-fallback:before {
  content: "\e953";
}
.slds-utility-icon-favorite:before {
  content: "\e954";
}
.slds-utility-icon-feed:before {
  content: "\e955";
}
.slds-utility-icon-file:before {
  content: "\e956";
}
.slds-utility-icon-filter:before {
  content: "\e957";
}
.slds-utility-icon-filterList:before {
  content: "\e958";
}
.slds-utility-icon-flow:before {
  content: "\e959";
}
.slds-utility-icon-food_and_drink:before {
  content: "\e95a";
}
.slds-utility-icon-forward:before {
  content: "\e95b";
}
.slds-utility-icon-frozen:before {
  content: "\e95c";
}
.slds-utility-icon-full_width_view:before {
  content: "\e95d";
}
.slds-utility-icon-graph:before {
  content: "\e95e";
}
.slds-utility-icon-groups:before {
  content: "\e95f";
}
.slds-utility-icon-help:before {
  content: "\e960";
}
.slds-utility-icon-hide:before {
  content: "\e961";
}
.slds-utility-icon-home:before {
  content: "\e962";
}
.slds-utility-icon-identity:before {
  content: "\e963";
}
.slds-utility-icon-image:before {
  content: "\e964";
}
.slds-utility-icon-inbox:before {
  content: "\e965";
}
.slds-utility-icon-info:before {
  content: "\e966";
}
.slds-utility-icon-info_alt:before {
  content: "\e967";
}
.slds-utility-icon-insert_tag_field:before {
  content: "\e968";
}
.slds-utility-icon-insert_template:before {
  content: "\e969";
}
.slds-utility-icon-internal_share:before {
  content: "\e96a";
}
.slds-utility-icon-italic:before {
  content: "\e96b";
}
.slds-utility-icon-jump_to_bottom:before {
  content: "\e96c";
}
.slds-utility-icon-jump_to_top:before {
  content: "\e96d";
}
.slds-utility-icon-justify_text:before {
  content: "\e96e";
}
.slds-utility-icon-kanban:before {
  content: "\e96f";
}
.slds-utility-icon-keyboard_dismiss:before {
  content: "\e970";
}
.slds-utility-icon-knowledge_base:before {
  content: "\e971";
}
.slds-utility-icon-layers:before {
  content: "\e972";
}
.slds-utility-icon-layout:before {
  content: "\e973";
}
.slds-utility-icon-left:before {
  content: "\e974";
}
.slds-utility-icon-left_align_text:before {
  content: "\e975";
}
.slds-utility-icon-level_up:before {
  content: "\e976";
}
.slds-utility-icon-light_bulb:before {
  content: "\e977";
}
.slds-utility-icon-like:before {
  content: "\e978";
}
.slds-utility-icon-link:before {
  content: "\e979";
}
.slds-utility-icon-list:before {
  content: "\e97a";
}
.slds-utility-icon-location:before {
  content: "\e97b";
}
.slds-utility-icon-lock:before {
  content: "\e97c";
}
.slds-utility-icon-log_a_call:before {
  content: "\e97d";
}
.slds-utility-icon-logout:before {
  content: "\e97e";
}
.slds-utility-icon-lower_flag:before {
  content: "\e97f";
}
.slds-utility-icon-macros:before {
  content: "\e980";
}
.slds-utility-icon-magicwand:before {
  content: "\e981";
}
.slds-utility-icon-mark_all_as_read:before {
  content: "\e982";
}
.slds-utility-icon-matrix:before {
  content: "\e983";
}
.slds-utility-icon-merge:before {
  content: "\e984";
}
.slds-utility-icon-merge_field:before {
  content: "\e985";
}
.slds-utility-icon-metrics:before {
  content: "\e986";
}
.slds-utility-icon-minimize_window:before {
  content: "\e987";
}
.slds-utility-icon-moneybag:before {
  content: "\e988";
}
.slds-utility-icon-monthlyview:before {
  content: "\e989";
}
.slds-utility-icon-move:before {
  content: "\e98a";
}
.slds-utility-icon-muted:before {
  content: "\e98b";
}
.slds-utility-icon-new:before {
  content: "\e98c";
}
.slds-utility-icon-new_direct_message:before {
  content: "\e98d";
}
.slds-utility-icon-news:before {
  content: "\e98e";
}
.slds-utility-icon-new_window:before {
  content: "\e98f";
}
.slds-utility-icon-note:before {
  content: "\e990";
}
.slds-utility-icon-notebook:before {
  content: "\e991";
}
.slds-utility-icon-notification:before {
  content: "\e992";
}
.slds-utility-icon-office365:before {
  content: "\e993";
}
.slds-utility-icon-offline:before {
  content: "\e994";
}
.slds-utility-icon-offline_cached:before {
  content: "\e995";
}
.slds-utility-icon-omni_channel:before {
  content: "\e996";
}
.slds-utility-icon-open:before {
  content: "\e997";
}
.slds-utility-icon-opened_folder:before {
  content: "\e998";
}
.slds-utility-icon-open_folder:before {
  content: "\e999";
}
.slds-utility-icon-overflow:before {
  content: "\e99a";
}
.slds-utility-icon-package:before {
  content: "\e99b";
}
.slds-utility-icon-package_org:before {
  content: "\e99c";
}
.slds-utility-icon-package_org_beta:before {
  content: "\e99d";
}
.slds-utility-icon-page:before {
  content: "\e99e";
}
.slds-utility-icon-palette:before {
  content: "\e99f";
}
.slds-utility-icon-paste:before {
  content: "\e9a0";
}
.slds-utility-icon-pause:before {
  content: "\e9a1";
}
.slds-utility-icon-people:before {
  content: "\e9a2";
}
.slds-utility-icon-phone_landscape:before {
  content: "\e9a3";
}
.slds-utility-icon-phone_portrait:before {
  content: "\e9a4";
}
.slds-utility-icon-photo:before {
  content: "\e9a5";
}
.slds-utility-icon-picklist:before {
  content: "\e9a6";
}
.slds-utility-icon-pin:before {
  content: "\e9a7";
}
.slds-utility-icon-pinned:before {
  content: "\e9a8";
}
.slds-utility-icon-power:before {
  content: "\e9a9";
}
.slds-utility-icon-preview:before {
  content: "\e9aa";
}
.slds-utility-icon-priority:before {
  content: "\e9ab";
}
.slds-utility-icon-privately_shared:before {
  content: "\e9ac";
}
.slds-utility-icon-process:before {
  content: "\e9ad";
}
.slds-utility-icon-push:before {
  content: "\e9ae";
}
.slds-utility-icon-puzzle:before {
  content: "\e9af";
}
.slds-utility-icon-question:before {
  content: "\e9b0";
}
.slds-utility-icon-question_mark:before {
  content: "\e9b1";
}
.slds-utility-icon-questions_and_answers:before {
  content: "\e9b2";
}
.slds-utility-icon-quick_text:before {
  content: "\e9b3";
}
.slds-utility-icon-quotation_marks:before {
  content: "\e9b4";
}
.slds-utility-icon-rating:before {
  content: "\e9b5";
}
.slds-utility-icon-record:before {
  content: "\e9b6";
}
.slds-utility-icon-record_create:before {
  content: "\e9b7";
}
.slds-utility-icon-redo:before {
  content: "\e9b8";
}
.slds-utility-icon-refresh:before {
  content: "\e9b9";
}
.slds-utility-icon-relate:before {
  content: "\e9ba";
}
.slds-utility-icon-reminder:before {
  content: "\e9bb";
}
.slds-utility-icon-remove_formatting:before {
  content: "\e9bc";
}
.slds-utility-icon-remove_link:before {
  content: "\e9bd";
}
.slds-utility-icon-replace:before {
  content: "\e9be";
}
.slds-utility-icon-reply:before {
  content: "\e9bf";
}
.slds-utility-icon-reply_all:before {
  content: "\e9c0";
}
.slds-utility-icon-reset_password:before {
  content: "\e9c1";
}
.slds-utility-icon-resource_absence:before {
  content: "\e9c2";
}
.slds-utility-icon-resource_capacity:before {
  content: "\e9c3";
}
.slds-utility-icon-resource_territory:before {
  content: "\e9c4";
}
.slds-utility-icon-retweet:before {
  content: "\e9c5";
}
.slds-utility-icon-richtextbulletedlist:before {
  content: "\e9c6";
}
.slds-utility-icon-richtextindent:before {
  content: "\e9c7";
}
.slds-utility-icon-richtextnumberedlist:before {
  content: "\e9c8";
}
.slds-utility-icon-richtextoutdent:before {
  content: "\e9c9";
}
.slds-utility-icon-right:before {
  content: "\e9ca";
}
.slds-utility-icon-right_align_text:before {
  content: "\e9cb";
}
.slds-utility-icon-rotate:before {
  content: "\e9cc";
}
.slds-utility-icon-rows:before {
  content: "\e9cd";
}
.slds-utility-icon-rules:before {
  content: "\e9ce";
}
.slds-utility-icon-salesforce1:before {
  content: "\e9cf";
}
.slds-utility-icon-save:before {
  content: "\e9d0";
}
.slds-utility-icon-search:before {
  content: "\e9d1";
}
.slds-utility-icon-settings:before {
  content: "\e9d2";
}
.slds-utility-icon-setup:before {
  content: "\e9d3";
}
.slds-utility-icon-setup_assistant_guide:before {
  content: "\e9d4";
}
.slds-utility-icon-share:before {
  content: "\e9d5";
}
.slds-utility-icon-share_file:before {
  content: "\e9d6";
}
.slds-utility-icon-share_mobile:before {
  content: "\e9d7";
}
.slds-utility-icon-share_post:before {
  content: "\e9d8";
}
.slds-utility-icon-shield:before {
  content: "\e9d9";
}
.slds-utility-icon-shopping_bag:before {
  content: "\e9da";
}
.slds-utility-icon-side_list:before {
  content: "\e9db";
}
.slds-utility-icon-signpost:before {
  content: "\e9dc";
}
.slds-utility-icon-smiley_and_people:before {
  content: "\e9dd";
}
.slds-utility-icon-sms:before {
  content: "\e9de";
}
.slds-utility-icon-snippet:before {
  content: "\e9df";
}
.slds-utility-icon-socialshare:before {
  content: "\e9e0";
}
.slds-utility-icon-sort:before {
  content: "\e9e1";
}
.slds-utility-icon-spinner:before {
  content: "\e9e2";
}
.slds-utility-icon-standard_objects:before {
  content: "\e9e3";
}
.slds-utility-icon-stop:before {
  content: "\e9e4";
}
.slds-utility-icon-strikethrough:before {
  content: "\e9e5";
}
.slds-utility-icon-success:before {
  content: "\e9e6";
}
.slds-utility-icon-summary:before {
  content: "\e9e7";
}
.slds-utility-icon-summarydetail:before {
  content: "\e9e8";
}
.slds-utility-icon-switch:before {
  content: "\e9e9";
}
.slds-utility-icon-symbols:before {
  content: "\e9ea";
}
.slds-utility-icon-sync:before {
  content: "\e9eb";
}
.slds-utility-icon-table:before {
  content: "\e9ec";
}
.slds-utility-icon-tablet_landscape:before {
  content: "\e9ed";
}
.slds-utility-icon-tablet_portrait:before {
  content: "\e9ee";
}
.slds-utility-icon-tabset:before {
  content: "\e9ef";
}
.slds-utility-icon-task:before {
  content: "\e9f0";
}
.slds-utility-icon-text_background_color:before {
  content: "\e9f1";
}
.slds-utility-icon-text_color:before {
  content: "\e9f2";
}
.slds-utility-icon-threedots:before {
  content: "\e9f3";
}
.slds-utility-icon-threedots_vertical:before {
  content: "\e9f4";
}
.slds-utility-icon-thunder:before {
  content: "\e9f5";
}
.slds-utility-icon-tile_card_list:before {
  content: "\e9f6";
}
.slds-utility-icon-topic:before {
  content: "\e9f7";
}
.slds-utility-icon-touch_action:before {
  content: "\e9f8";
}
.slds-utility-icon-trail:before {
  content: "\e9f9";
}
.slds-utility-icon-travel_and_places:before {
  content: "\e9fa";
}
.slds-utility-icon-trending:before {
  content: "\e9fb";
}
.slds-utility-icon-turn_off_notifications:before {
  content: "\e9fc";
}
.slds-utility-icon-type_tool:before {
  content: "\e9fd";
}
.slds-utility-icon-undelete:before {
  content: "\e9fe";
}
.slds-utility-icon-undeprecate:before {
  content: "\e9ff";
}
.slds-utility-icon-underline:before {
  content: "\ea00";
}
.slds-utility-icon-undo:before {
  content: "\ea01";
}
.slds-utility-icon-unlock:before {
  content: "\ea02";
}
.slds-utility-icon-unmuted:before {
  content: "\ea03";
}
.slds-utility-icon-up:before {
  content: "\ea04";
}
.slds-utility-icon-upload:before {
  content: "\ea05";
}
.slds-utility-icon-user:before {
  content: "\ea06";
}
.slds-utility-icon-user_role:before {
  content: "\ea07";
}
.slds-utility-icon-video:before {
  content: "\ea08";
}
.slds-utility-icon-voicemail_drop:before {
  content: "\ea09";
}
.slds-utility-icon-volume_high:before {
  content: "\ea0a";
}
.slds-utility-icon-volume_low:before {
  content: "\ea0b";
}
.slds-utility-icon-volume_off:before {
  content: "\ea0c";
}
.slds-utility-icon-warning:before {
  content: "\ea0d";
}
.slds-utility-icon-weeklyview:before {
  content: "\ea0e";
}
.slds-utility-icon-wifi:before {
  content: "\ea0f";
}
.slds-utility-icon-work_order_type:before {
  content: "\ea10";
}
.slds-utility-icon-world:before {
  content: "\ea11";
}
.slds-utility-icon-yubi_key:before {
  content: "\ea12";
}
.slds-utility-icon-zoomin:before {
  content: "\ea13";
}
.slds-utility-icon-zoomout:before {
  content: "\ea14";
}











