@font-face {
  font-family: 'slds-custom-icon';
  src:  url('./assets/fonts/slds-custom-icon.eot?y0noym');
  src:  url('./assets/fonts/slds-custom-icon.eot?y0noym#iefix') format('embedded-opentype'),
        url('./assets/fonts/slds-custom-icon.ttf?y0noym') format('truetype'),
        url('./assets/fonts/slds-custom-icon.woff?y0noym') format('woff'),
        url('./assets/fonts/slds-custom-icon.svg?y0noym#slds-custom-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="slds-custom-icon-"], [class*=" slds-custom-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'slds-custom-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.slds-custom-icon-custom1:before {
  content: "\e900";
}
.slds-custom-icon-custom2:before {
  content: "\e901";
}
.slds-custom-icon-custom3:before {
  content: "\e902";
}
.slds-custom-icon-custom4:before {
  content: "\e903";
}
.slds-custom-icon-custom5:before {
  content: "\e904";
}
.slds-custom-icon-custom6:before {
  content: "\e905";
}
.slds-custom-icon-custom7:before {
  content: "\e906";
}
.slds-custom-icon-custom8:before {
  content: "\e907";
}
.slds-custom-icon-custom9:before {
  content: "\e908";
}
.slds-custom-icon-custom10:before {
  content: "\e909";
}
.slds-custom-icon-custom11:before {
  content: "\e90a";
}
.slds-custom-icon-custom12:before {
  content: "\e90b";
}
.slds-custom-icon-custom13:before {
  content: "\e90c";
}
.slds-custom-icon-custom14:before {
  content: "\e90d";
}
.slds-custom-icon-custom15:before {
  content: "\e90e";
}
.slds-custom-icon-custom16:before {
  content: "\e90f";
}
.slds-custom-icon-custom17:before {
  content: "\e910";
}
.slds-custom-icon-custom18:before {
  content: "\e911";
}
.slds-custom-icon-custom19:before {
  content: "\e912";
}
.slds-custom-icon-custom20:before {
  content: "\e913";
}
.slds-custom-icon-custom21:before {
  content: "\e914";
}
.slds-custom-icon-custom22:before {
  content: "\e915";
}
.slds-custom-icon-custom23:before {
  content: "\e916";
}
.slds-custom-icon-custom24:before {
  content: "\e917";
}
.slds-custom-icon-custom25:before {
  content: "\e918";
}
.slds-custom-icon-custom26:before {
  content: "\e919";
}
.slds-custom-icon-custom27:before {
  content: "\e91a";
}
.slds-custom-icon-custom28:before {
  content: "\e91b";
}
.slds-custom-icon-custom29:before {
  content: "\e91c";
}
.slds-custom-icon-custom30:before {
  content: "\e91d";
}
.slds-custom-icon-custom31:before {
  content: "\e91e";
}
.slds-custom-icon-custom32:before {
  content: "\e91f";
}
.slds-custom-icon-custom33:before {
  content: "\e920";
}
.slds-custom-icon-custom34:before {
  content: "\e921";
}
.slds-custom-icon-custom35:before {
  content: "\e922";
}
.slds-custom-icon-custom36:before {
  content: "\e923";
}
.slds-custom-icon-custom37:before {
  content: "\e924";
}
.slds-custom-icon-custom38:before {
  content: "\e925";
}
.slds-custom-icon-custom39:before {
  content: "\e926";
}
.slds-custom-icon-custom40:before {
  content: "\e927";
}
.slds-custom-icon-custom41:before {
  content: "\e928";
}
.slds-custom-icon-custom42:before {
  content: "\e929";
}
.slds-custom-icon-custom43:before {
  content: "\e92a";
}
.slds-custom-icon-custom44:before {
  content: "\e92b";
}
.slds-custom-icon-custom45:before {
  content: "\e92c";
}
.slds-custom-icon-custom46:before {
  content: "\e92d";
}
.slds-custom-icon-custom47:before {
  content: "\e92e";
}
.slds-custom-icon-custom48:before {
  content: "\e92f";
}
.slds-custom-icon-custom49:before {
  content: "\e930";
}
.slds-custom-icon-custom50:before {
  content: "\e931";
}
.slds-custom-icon-custom51:before {
  content: "\e932";
}
.slds-custom-icon-custom52:before {
  content: "\e933";
}
.slds-custom-icon-custom53:before {
  content: "\e934";
}
.slds-custom-icon-custom54:before {
  content: "\e935";
}
.slds-custom-icon-custom55:before {
  content: "\e936";
}
.slds-custom-icon-custom56:before {
  content: "\e937";
}
.slds-custom-icon-custom57:before {
  content: "\e938";
}
.slds-custom-icon-custom58:before {
  content: "\e939";
}
.slds-custom-icon-custom59:before {
  content: "\e93a";
}
.slds-custom-icon-custom60:before {
  content: "\e93b";
}
.slds-custom-icon-custom61:before {
  content: "\e93c";
}
.slds-custom-icon-custom62:before {
  content: "\e93d";
}
.slds-custom-icon-custom63:before {
  content: "\e93e";
}
.slds-custom-icon-custom64:before {
  content: "\e93f";
}
.slds-custom-icon-custom65:before {
  content: "\e940";
}
.slds-custom-icon-custom66:before {
  content: "\e941";
}
.slds-custom-icon-custom67:before {
  content: "\e942";
}
.slds-custom-icon-custom68:before {
  content: "\e943";
}
.slds-custom-icon-custom69:before {
  content: "\e944";
}
.slds-custom-icon-custom70:before {
  content: "\e945";
}
.slds-custom-icon-custom71:before {
  content: "\e946";
}
.slds-custom-icon-custom72:before {
  content: "\e947";
}
.slds-custom-icon-custom73:before {
  content: "\e948";
}
.slds-custom-icon-custom74:before {
  content: "\e949";
}
.slds-custom-icon-custom75:before {
  content: "\e94a";
}
.slds-custom-icon-custom76:before {
  content: "\e94b";
}
.slds-custom-icon-custom77:before {
  content: "\e94c";
}
.slds-custom-icon-custom78:before {
  content: "\e94d";
}
.slds-custom-icon-custom79:before {
  content: "\e94e";
}
.slds-custom-icon-custom80:before {
  content: "\e94f";
}
.slds-custom-icon-custom81:before {
  content: "\e950";
}
.slds-custom-icon-custom82:before {
  content: "\e951";
}
.slds-custom-icon-custom83:before {
  content: "\e952";
}
.slds-custom-icon-custom84:before {
  content: "\e953";
}
.slds-custom-icon-custom85:before {
  content: "\e954";
}
.slds-custom-icon-custom86:before {
  content: "\e955";
}
.slds-custom-icon-custom87:before {
  content: "\e956";
}
.slds-custom-icon-custom88:before {
  content: "\e957";
}
.slds-custom-icon-custom89:before {
  content: "\e958";
}
.slds-custom-icon-custom90:before {
  content: "\e959";
}
.slds-custom-icon-custom91:before {
  content: "\e95a";
}
.slds-custom-icon-custom92:before {
  content: "\e95b";
}
.slds-custom-icon-custom93:before {
  content: "\e95c";
}
.slds-custom-icon-custom94:before {
  content: "\e95d";
}
.slds-custom-icon-custom95:before {
  content: "\e95e";
}
.slds-custom-icon-custom96:before {
  content: "\e95f";
}
.slds-custom-icon-custom97:before {
  content: "\e960";
}
.slds-custom-icon-custom98:before {
  content: "\e961";
}
.slds-custom-icon-custom99:before {
  content: "\e962";
}
.slds-custom-icon-custom100:before {
  content: "\e963";
}
.slds-custom-icon-custom101:before {
  content: "\e964";
}
.slds-custom-icon-custom102:before {
  content: "\e965";
}
.slds-custom-icon-custom103:before {
  content: "\e966";
}
.slds-custom-icon-custom104:before {
  content: "\e967";
}
.slds-custom-icon-custom105:before {
  content: "\e968";
}
.slds-custom-icon-custom106:before {
  content: "\e969";
}
.slds-custom-icon-custom107:before {
  content: "\e96a";
}
.slds-custom-icon-custom108:before {
  content: "\e96b";
}
.slds-custom-icon-custom109:before {
  content: "\e96c";
}
.slds-custom-icon-custom110:before {
  content: "\e96d";
}
.slds-custom-icon-custom111:before {
  content: "\e96e";
}
.slds-custom-icon-custom112:before {
  content: "\e96f";
}
.slds-custom-icon-custom113:before {
  content: "\e970";
}
