.button {
  font-size: 13px;
  line-height: 14px;
  border-width: 1px;
  border-style: solid;
  // border-radius: 2px;
  // min-width: 100px;
  padding: 8px 10px;
  &.full {
    width: 100%;
  }
  // ----------------------------------
  &.transparent {
    color: $blueOne;
    background-color: transparent;
    border-color: transparent;
    &:hover,
    &:focus {
      color: $blueTwo;
    }
  }
  // ----------------------------------
  &.blue {
    color: #fff;
    border-color: $blueTwo;
    background-color: $blueTwo;
    &:focus,
    &:hover {
      border-color: $blueThree;
      background-color: $blueThree;
    }
    &.active {
      border-color: $blueFour;
      background-color: $blueFour;
    }
    &:active {
      border-color: $blueFive;
      background-color: $blueFive;
    }
    &.disabled,
    &[disabled] {
      color: $blueOne;
      border-color: #cfd7e6;
      background-color: #cfd7e6;
    }
  }
  // ----------------------------------
  &.white-stroke {
    color: #006cd3;
    border-color: #006cd3;
    background-color: #fff;
    &:focus,
    &:hover {
      color: $blueThree;
      border-color: $blueThree;
    }
    &:active {
      color: $blueFive;
      border-color: $blueFive;
    }
    &.active {
      color: $blueFour;
      border-color: $blueFour;
    }
    &.disabled,
    &[disabled] {
      opacity: .3;
      color: $lightGrayOne;
      border-color: $lightGrayOne;
    }
  }
}

.slds-button_success,
.slds-button--success {
  color: #fff !important;
}


