@font-face {
  font-family: 'slds-active-icon';
  src:  url('fonts/slds-active-icon.eot?n09cp8');
  src:  url('fonts/slds-active-icon.eot?n09cp8#iefix') format('embedded-opentype'),
        url('fonts/slds-active-icon.ttf?n09cp8') format('truetype'),
        url('fonts/slds-active-icon.woff?n09cp8') format('woff'),
        url('fonts/slds-active-icon.svg?n09cp8#slds-active-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="slds-active-icon-"], [class*=" slds-active-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'slds-active-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slds-active-icon-add_contact:before {
  content: "\e900";
}
.slds-active-icon-add_file:before {
  content: "\e901";
}
.slds-active-icon-add_photo_video:before {
  content: "\e902";
}
.slds-active-icon-add_relationship:before {
  content: "\e903";
}
.slds-active-icon-announcement:before {
  content: "\e904";
}
.slds-active-icon-apex:before {
  content: "\e905";
}
.slds-active-icon-approval:before {
  content: "\e906";
}
.slds-active-icon-back:before {
  content: "\e907";
}
.slds-active-icon-call:before {
  content: "\e908";
}
.slds-active-icon-canvas:before {
  content: "\e909";
}
.slds-active-icon-change_owner:before {
  content: "\e90a";
}
.slds-active-icon-change_record_type:before {
  content: "\e90b";
}
.slds-active-icon-check:before {
  content: "\e90c";
}
.slds-active-icon-clone:before {
  content: "\e90d";
}
.slds-active-icon-close:before {
  content: "\e90e";
}
.slds-active-icon-defer:before {
  content: "\e90f";
}
.slds-active-icon-delete:before {
  content: "\e910";
}
.slds-active-icon-description:before {
  content: "\e911";
}
.slds-active-icon-dial_in:before {
  content: "\e912";
}
.slds-active-icon-download:before {
  content: "\e913";
}
.slds-active-icon-edit:before {
  content: "\e914";
}
.slds-active-icon-edit_groups:before {
  content: "\e915";
}
.slds-active-icon-edit_relationship:before {
  content: "\e916";
}
.slds-active-icon-email:before {
  content: "\e917";
}
.slds-active-icon-fallback:before {
  content: "\e918";
}
.slds-active-icon-filter:before {
  content: "\e919";
}
.slds-active-icon-flow:before {
  content: "\e91a";
}
.slds-active-icon-follow:before {
  content: "\e91b";
}
.slds-active-icon-following:before {
  content: "\e91c";
}
.slds-active-icon-freeze_user:before {
  content: "\e91d";
}
.slds-active-icon-goal:before {
  content: "\e91e";
}
.slds-active-icon-google_news:before {
  content: "\e91f";
}
.slds-active-icon-info:before {
  content: "\e920";
}
.slds-active-icon-join_group:before {
  content: "\e921";
}
.slds-active-icon-lead_convert:before {
  content: "\e922";
}
.slds-active-icon-leave_group:before {
  content: "\e923";
}
.slds-active-icon-log_a_call:before {
  content: "\e924";
}
.slds-active-icon-log_event:before {
  content: "\e925";
}
.slds-active-icon-manage_perm_sets:before {
  content: "\e926";
}
.slds-active-icon-map:before {
  content: "\e927";
}
.slds-active-icon-more:before {
  content: "\e928";
}
.slds-active-icon-new:before {
  content: "\e929";
}
.slds-active-icon-new_account:before {
  content: "\e92a";
}
.slds-active-icon-new_campaign:before {
  content: "\e92b";
}
.slds-active-icon-new_case:before {
  content: "\e92c";
}
.slds-active-icon-new_child_case:before {
  content: "\e92d";
}
.slds-active-icon-new_contact:before {
  content: "\e92e";
}
.slds-active-icon-new_custom1:before {
  content: "\e92f";
}
.slds-active-icon-new_custom2:before {
  content: "\e930";
}
.slds-active-icon-new_custom3:before {
  content: "\e931";
}
.slds-active-icon-new_custom4:before {
  content: "\e932";
}
.slds-active-icon-new_custom5:before {
  content: "\e933";
}
.slds-active-icon-new_custom6:before {
  content: "\e934";
}
.slds-active-icon-new_custom7:before {
  content: "\e935";
}
.slds-active-icon-new_custom8:before {
  content: "\e936";
}
.slds-active-icon-new_custom9:before {
  content: "\e937";
}
.slds-active-icon-new_custom10:before {
  content: "\e938";
}
.slds-active-icon-new_custom11:before {
  content: "\e939";
}
.slds-active-icon-new_custom12:before {
  content: "\e93a";
}
.slds-active-icon-new_custom13:before {
  content: "\e93b";
}
.slds-active-icon-new_custom14:before {
  content: "\e93c";
}
.slds-active-icon-new_custom15:before {
  content: "\e93d";
}
.slds-active-icon-new_custom16:before {
  content: "\e93e";
}
.slds-active-icon-new_custom17:before {
  content: "\e93f";
}
.slds-active-icon-new_custom18:before {
  content: "\e940";
}
.slds-active-icon-new_custom19:before {
  content: "\e941";
}
.slds-active-icon-new_custom20:before {
  content: "\e942";
}
.slds-active-icon-new_custom21:before {
  content: "\e943";
}
.slds-active-icon-new_custom22:before {
  content: "\e944";
}
.slds-active-icon-new_custom23:before {
  content: "\e945";
}
.slds-active-icon-new_custom24:before {
  content: "\e946";
}
.slds-active-icon-new_custom25:before {
  content: "\e947";
}
.slds-active-icon-new_custom26:before {
  content: "\e948";
}
.slds-active-icon-new_custom27:before {
  content: "\e949";
}
.slds-active-icon-new_custom28:before {
  content: "\e94a";
}
.slds-active-icon-new_custom29:before {
  content: "\e94b";
}
.slds-active-icon-new_custom30:before {
  content: "\e94c";
}
.slds-active-icon-new_custom31:before {
  content: "\e94d";
}
.slds-active-icon-new_custom32:before {
  content: "\e94e";
}
.slds-active-icon-new_custom33:before {
  content: "\e94f";
}
.slds-active-icon-new_custom34:before {
  content: "\e950";
}
.slds-active-icon-new_custom35:before {
  content: "\e951";
}
.slds-active-icon-new_custom36:before {
  content: "\e952";
}
.slds-active-icon-new_custom37:before {
  content: "\e953";
}
.slds-active-icon-new_custom38:before {
  content: "\e954";
}
.slds-active-icon-new_custom39:before {
  content: "\e955";
}
.slds-active-icon-new_custom40:before {
  content: "\e956";
}
.slds-active-icon-new_custom41:before {
  content: "\e957";
}
.slds-active-icon-new_custom42:before {
  content: "\e958";
}
.slds-active-icon-new_custom43:before {
  content: "\e959";
}
.slds-active-icon-new_custom44:before {
  content: "\e95a";
}
.slds-active-icon-new_custom45:before {
  content: "\e95b";
}
.slds-active-icon-new_custom46:before {
  content: "\e95c";
}
.slds-active-icon-new_custom47:before {
  content: "\e95d";
}
.slds-active-icon-new_custom48:before {
  content: "\e95e";
}
.slds-active-icon-new_custom49:before {
  content: "\e95f";
}
.slds-active-icon-new_custom50:before {
  content: "\e960";
}
.slds-active-icon-new_custom51:before {
  content: "\e961";
}
.slds-active-icon-new_custom52:before {
  content: "\e962";
}
.slds-active-icon-new_custom53:before {
  content: "\e963";
}
.slds-active-icon-new_custom54:before {
  content: "\e964";
}
.slds-active-icon-new_custom55:before {
  content: "\e965";
}
.slds-active-icon-new_custom56:before {
  content: "\e966";
}
.slds-active-icon-new_custom57:before {
  content: "\e967";
}
.slds-active-icon-new_custom58:before {
  content: "\e968";
}
.slds-active-icon-new_custom59:before {
  content: "\e969";
}
.slds-active-icon-new_custom60:before {
  content: "\e96a";
}
.slds-active-icon-new_custom61:before {
  content: "\e96b";
}
.slds-active-icon-new_custom62:before {
  content: "\e96c";
}
.slds-active-icon-new_custom63:before {
  content: "\e96d";
}
.slds-active-icon-new_custom64:before {
  content: "\e96e";
}
.slds-active-icon-new_custom65:before {
  content: "\e96f";
}
.slds-active-icon-new_custom66:before {
  content: "\e970";
}
.slds-active-icon-new_custom67:before {
  content: "\e971";
}
.slds-active-icon-new_custom68:before {
  content: "\e972";
}
.slds-active-icon-new_custom69:before {
  content: "\e973";
}
.slds-active-icon-new_custom70:before {
  content: "\e974";
}
.slds-active-icon-new_custom71:before {
  content: "\e975";
}
.slds-active-icon-new_custom72:before {
  content: "\e976";
}
.slds-active-icon-new_custom73:before {
  content: "\e977";
}
.slds-active-icon-new_custom74:before {
  content: "\e978";
}
.slds-active-icon-new_custom75:before {
  content: "\e979";
}
.slds-active-icon-new_custom76:before {
  content: "\e97a";
}
.slds-active-icon-new_custom77:before {
  content: "\e97b";
}
.slds-active-icon-new_custom78:before {
  content: "\e97c";
}
.slds-active-icon-new_custom79:before {
  content: "\e97d";
}
.slds-active-icon-new_custom80:before {
  content: "\e97e";
}
.slds-active-icon-new_custom81:before {
  content: "\e97f";
}
.slds-active-icon-new_custom82:before {
  content: "\e980";
}
.slds-active-icon-new_custom83:before {
  content: "\e981";
}
.slds-active-icon-new_custom84:before {
  content: "\e982";
}
.slds-active-icon-new_custom85:before {
  content: "\e983";
}
.slds-active-icon-new_custom86:before {
  content: "\e984";
}
.slds-active-icon-new_custom87:before {
  content: "\e985";
}
.slds-active-icon-new_custom88:before {
  content: "\e986";
}
.slds-active-icon-new_custom89:before {
  content: "\e987";
}
.slds-active-icon-new_custom90:before {
  content: "\e988";
}
.slds-active-icon-new_custom91:before {
  content: "\e989";
}
.slds-active-icon-new_custom92:before {
  content: "\e98a";
}
.slds-active-icon-new_custom93:before {
  content: "\e98b";
}
.slds-active-icon-new_custom94:before {
  content: "\e98c";
}
.slds-active-icon-new_custom95:before {
  content: "\e98d";
}
.slds-active-icon-new_custom96:before {
  content: "\e98e";
}
.slds-active-icon-new_custom97:before {
  content: "\e98f";
}
.slds-active-icon-new_custom98:before {
  content: "\e990";
}
.slds-active-icon-new_custom99:before {
  content: "\e991";
}
.slds-active-icon-new_custom100:before {
  content: "\e992";
}
.slds-active-icon-new_event:before {
  content: "\e993";
}
.slds-active-icon-new_group:before {
  content: "\e994";
}
.slds-active-icon-new_lead:before {
  content: "\e995";
}
.slds-active-icon-new_note:before {
  content: "\e996";
}
.slds-active-icon-new_notebook:before {
  content: "\e997";
}
.slds-active-icon-new_opportunity:before {
  content: "\e998";
}
.slds-active-icon-new_person_account:before {
  content: "\e999";
}
.slds-active-icon-new_task:before {
  content: "\e99a";
}
.slds-active-icon-password_unlock:before {
  content: "\e99b";
}
.slds-active-icon-preview:before {
  content: "\e99c";
}
.slds-active-icon-priority:before {
  content: "\e99d";
}
.slds-active-icon-question_post_action:before {
  content: "\e99e";
}
.slds-active-icon-quote:before {
  content: "\e99f";
}
.slds-active-icon-recall:before {
  content: "\e9a0";
}
.slds-active-icon-record:before {
  content: "\e9a1";
}
.slds-active-icon-refresh:before {
  content: "\e9a2";
}
.slds-active-icon-reject:before {
  content: "\e9a3";
}
.slds-active-icon-remove:before {
  content: "\e9a4";
}
.slds-active-icon-remove_relationship:before {
  content: "\e9a5";
}
.slds-active-icon-reset_password:before {
  content: "\e9a6";
}
.slds-active-icon-share:before {
  content: "\e9a7";
}
.slds-active-icon-share_file:before {
  content: "\e9a8";
}
.slds-active-icon-share_link:before {
  content: "\e9a9";
}
.slds-active-icon-share_poll:before {
  content: "\e9aa";
}
.slds-active-icon-share_post:before {
  content: "\e9ab";
}
.slds-active-icon-share_thanks:before {
  content: "\e9ac";
}
.slds-active-icon-sort:before {
  content: "\e9ad";
}
.slds-active-icon-submit_for_approval:before {
  content: "\e9ae";
}
.slds-active-icon-update:before {
  content: "\e9af";
}
.slds-active-icon-update_status:before {
  content: "\e9b0";
}
.slds-active-icon-upload:before {
  content: "\e9b1";
}
.slds-active-icon-user:before {
  content: "\e9b2";
}
.slds-active-icon-user_activation:before {
  content: "\e9b3";
}
.slds-active-icon-view_relationship:before {
  content: "\e9b4";
}
.slds-active-icon-web_link:before {
  content: "\e9b5";
}
