$pathBg: blue;
$pathActive: red;
$blueOne: lightblue;


// -------------------------------------
.list_navigation-progress {
  outline: solid 1px #f00;
  padding: 1px;
  .list__list {
    outline: solid 1px #f00;
    font-size: 0;
    text-align: center;
  }
  .list__item {
    color: $blueOne;
    outline: solid 2px $pathBg;
    position: relative;
    height: 0px;
    width: 20%;
    &:first-child {
      width: 0%;
    }
    &.active {
      color: $pathActive;
      outline: solid 2px $pathActive;
    }
  }
}
.list_navigation-progress .list__list {
  padding: 30px;
}
.list_navigation-progress .list__item {
  width: 28%;
}
.list_navigation-progress .list__item:first-child {
  width: 0;
}


// -------------------------------------
.txt_navigation-progress {
  width: 70px;
  margin-right: -35px;
}
.txt_navigation-progress {
  color: inherit;
  font-size: 12px;
  text-transform: uppercase;
  // outline: solid 1px #f00;
  display: inline-block;
  position: absolute;
  margin-right: -80px;
  min-height: 20px;
  width: 160px;
  top: 25px;
  right: 0;
}
.txt_navigation-progress {
  width: 70px;
  margin-right: -35px;
}


// -------------------------------------
.indicator {}
.indicator_navigation-progress {
  $width: 32px;
  border: solid 4px rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  margin-right: -.5*$width;
  margin-top: -.5*$width;
  height: $width;
  width: $width;
  right: 0;
  z-index: 100;
  overflow: hidden;
  .indicator__color {
    position: absolute;
    background-color: $pathBg;
    margin-left: -1*$width;
    margin-top: -1*$width;
    height: $width*2;
    width: $width*2;
    left: 50%;
    top: 50%;
  }
}


// -------------------------------------
.active .indicator_navigation-progress,
.indicator_navigation-progress.active {
  border-color: rgba($pathActive, .2);
  .indicator__color {
    background-color: $pathActive;
  }
}
