<div class="list horisontal list_navigation-progress">
  <ul class="list__list">
    <li class="list__item" *ngFor="let step of [1,2,3,4]" [ngClass]="{'active': step.isActive}">
      <a class="indicator_navigation-progress">
      	<span (click)="onClickStep(step)">
        	<div class="indicator__color"></div>
      	</span>
      </a>
      <div class="txt txt_navigation-progress">{{step}}</div>
    </li>
  </ul>
</div>







