.jsng-cell-cursor-root {
  position: relative;
  border: 2px solid #c00;
  padding: 10px;
}

.jsng-cell-cursor-container {
  * {
    user-select: none;
    cursor: crosshair !important;
  }
}

.jsng-cell-cursor-cell {
  border: solid 1px #0a0;
  outline: solid 1px #0a0;
}


