// .js-pseudo-table,
// .js-pseudo-table__caption,
// .js-pseudo-table__container,
// .js-pseudo-table__head,
// .js-pseudo-table__body,
// .js-pseudo-table__foot,
// .js-pseudo-table__row,
// .js-pseudo-table__col {
// }

.js-pseudo-table {
  color: #555; // just for preview;
  font-weight: normal; // just for preview;
  text-align: left; // just for preview;
  display: block;
}

.js-pseudo-table__caption {
  display: block;
}

.js-pseudo-table__container {
  display: table;
  width: 100%;
}

.js-pseudo-table__head {
  display: table-header-group;
}

.js-pseudo-table__body {
  display: table-row-group;
}

.js-pseudo-table__foot {
  display: table-footer-group;
}

.js-pseudo-table__row {
  display: table-row;
}

.js-pseudo-table__col {
  border: 1px solid $tblBdr;
  display: table-cell;
  padding: 5px;
}











