.item_picklist {
  background-color: #fff;
  border: solid 1px #eee;
  position: relative;
  +.item {
    margin-top: 3px;
  }
  &.body {
    padding-left: 30px;
  }
  &.head {
    &:hover {
      background-color: #fee;
    }
  }
  &.selected {
    background-color: #eee;
  }
}










