<!-- <span>|</span><span>{{headCel.colId}}</span><span>{{headCel.rowId}}</span> -->
<!-- <span>|</span><span>{{bodyCel.colId}}</span><span>{{bodyCel.rowId}}</span> -->
<!-- <span>|</span><span>{{footCel.colId}}</span><span>{{footCel.rowId}}</span> -->
<h3 class="title txt txt_center jsms-title">Cell Cursor | Data-Table (alternative table)</h3>
<jsng-data-table 
  [jsngCellCursor]="cellCursorOptionsForAlternativeTable" 
  [jsngcellCursorTableData]="weekBody" 
  (jsngCellCursorCalculate)="onCursorCalculateAlternativeTable($event)" 
  [captionData]="'Example Magnificent Data-Table'" 
  [tableHead]="weekHead" 
  [tableBody]="weekBody" 
  [tableFoot]="weekFoot">
  <ng-template #headCellTemplate let-headCel>
      <div class="test_tmp">
        <span>{{headCel.data.title}}</span>
      </div>
    </ng-template>
    <ng-template #bodyCellTemplate let-bodyCel>
      <div class="test_tmp" [ngClass]="{active:bodyCel.data.active}">
        <span>{{bodyCel.data.hour}}</span> <b>{{bodyCel.data.active}}</b>
      </div>
    </ng-template>
    <ng-template #footCellTemplate let-footCel>
      <div class="test_tmp">
        <span>{{footCel.data.status}}</span>
      </div>
    </ng-template>
</jsng-data-table>
<br>
<br>
<br>



<!-- <span>|</span><span>{{headCel.colId}}</span><span>{{headCel.rowId}}</span> -->
<!-- <span>|</span><span>{{bodyCel.colId}}</span><span>{{bodyCel.rowId}}</span> -->
<!-- <span>|</span><span>{{footCel.colId}}</span><span>{{footCel.rowId}}</span> -->
<h3 class="title txt txt_center jsms-title">Cell Cursor | Table, Pseudo-Table</h3>
<jsng-pseudo-table 
  [jsngCellCursor]="cellCursorOptionsForTable" 
  [jsngcellCursorTableData]="collectionBody" 
  (jsngCellCursorCalculate)="onCursorCalculateTable($event)" 
  [captionData]="'You can choose many of them here...'" 
  [tableHead]="collectionHead" 
  [tableBody]="collectionBody" 
  [tableFoot]="collectionFoot">
  <ng-template #headCellTemplate let-headCel>
    <div class="test_tmp">
      <b>{{headCel.data.label}}</b>
    </div>
  </ng-template>
  <ng-template #bodyCellTemplate let-bodyCel>
    <div class="test_tmp" [ngClass]="{active:bodyCel.data.active}">
      <b>{{bodyCel.data.label}}</b>
    </div>
  </ng-template>
  <ng-template #footCellTemplate let-footCel>
    <div class="test_tmp">
      <b>{{footCel.data.label}}</b>
    </div>
  </ng-template>
</jsng-pseudo-table>
<br>
<br>
<br>



<div class="example">
  <button (click)="mergingType='XOR'">XOR</button>
  <button (click)="mergingType='AND'">AND</button>
  <button (click)="mergingType='SINGLE_SELECT'">SINGLE SELECT</button>
  <pre class="pre">{{mergingType}}</pre>
</div>





