.test_tmp {
  outline: solid 3px #ddd;
  padding: 5px;
  &.active {
    background-color: #fee;
    outline: solid 3px #f00;
  }
}
.example {
  background-color: #138;
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  * {
    vertical-align: top;
  }
}
.pre {
  color: #0f0;
  font-size: 14px;
  line-height: 24px;
  border: solid 1px #0f0;
  display: inline-block;
  overflow: hidden;
  padding: 0 10px;
  margin:0;
}