@font-face {
  font-family: 'slds-standard-icon';
  src:  url('fonts/slds-standard-icon.eot?w29ltj');
  src:  url('fonts/slds-standard-icon.eot?w29ltj#iefix') format('embedded-opentype'),
        url('fonts/slds-standard-icon.ttf?w29ltj') format('truetype'),
        url('fonts/slds-standard-icon.woff?w29ltj') format('woff'),
        url('fonts/slds-standard-icon.svg?w29ltj#slds-standard-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="slds-standard-icon-"], [class*=" slds-standard-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'slds-standard-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slds-standard-icon-account:before {
  content: "\e900";
}
.slds-standard-icon-address:before {
  content: "\e901";
}
.slds-standard-icon-announcement:before {
  content: "\e902";
}
.slds-standard-icon-answer_best:before {
  content: "\e903";
}
.slds-standard-icon-answer_private:before {
  content: "\e904";
}
.slds-standard-icon-answer_public:before {
  content: "\e905";
}
.slds-standard-icon-approval:before {
  content: "\e906";
}
.slds-standard-icon-apps:before {
  content: "\e907";
}
.slds-standard-icon-apps_admin:before {
  content: "\e908";
}
.slds-standard-icon-article:before {
  content: "\e909";
}
.slds-standard-icon-asset_relationship:before {
  content: "\e90a";
}
.slds-standard-icon-assigned_resource:before {
  content: "\e90b";
}
.slds-standard-icon-avatar:before {
  content: "\e90c";
}
.slds-standard-icon-avatar_loading:before {
  content: "\e90d";
}
.slds-standard-icon-bot:before {
  content: "\e90e";
}
.slds-standard-icon-business_hours:before {
  content: "\e90f";
}
.slds-standard-icon-calibration:before {
  content: "\e910";
}
.slds-standard-icon-call:before {
  content: "\e911";
}
.slds-standard-icon-call_history:before {
  content: "\e912";
}
.slds-standard-icon-campaign:before {
  content: "\e913";
}
.slds-standard-icon-campaign_members:before {
  content: "\e914";
}
.slds-standard-icon-canvas:before {
  content: "\e915";
}
.slds-standard-icon-carousel:before {
  content: "\e916";
}
.slds-standard-icon-case:before {
  content: "\e917";
}
.slds-standard-icon-case_change_status:before {
  content: "\e918";
}
.slds-standard-icon-case_comment:before {
  content: "\e919";
}
.slds-standard-icon-case_email:before {
  content: "\e91a";
}
.slds-standard-icon-case_log_a_call:before {
  content: "\e91b";
}
.slds-standard-icon-case_milestone:before {
  content: "\e91c";
}
.slds-standard-icon-case_transcript:before {
  content: "\e91d";
}
.slds-standard-icon-client:before {
  content: "\e91e";
}
.slds-standard-icon-cms:before {
  content: "\e91f";
}
.slds-standard-icon-coaching:before {
  content: "\e920";
}
.slds-standard-icon-connected_apps:before {
  content: "\e921";
}
.slds-standard-icon-contact:before {
  content: "\e922";
}
.slds-standard-icon-contact_list:before {
  content: "\e923";
}
.slds-standard-icon-contract:before {
  content: "\e924";
}
.slds-standard-icon-contract_line_item:before {
  content: "\e925";
}
.slds-standard-icon-custom:before {
  content: "\e926";
}
.slds-standard-icon-custom_notification:before {
  content: "\e927";
}
.slds-standard-icon-dashboard:before {
  content: "\e928";
}
.slds-standard-icon-datadotcom:before {
  content: "\e929";
}
.slds-standard-icon-default:before {
  content: "\e92a";
}
.slds-standard-icon-document:before {
  content: "\e92b";
}
.slds-standard-icon-drafts:before {
  content: "\e92c";
}
.slds-standard-icon-email:before {
  content: "\e92d";
}
.slds-standard-icon-email_chatter:before {
  content: "\e92e";
}
.slds-standard-icon-empty:before {
  content: "\e92f";
}
.slds-standard-icon-endorsement:before {
  content: "\e930";
}
.slds-standard-icon-entitlement:before {
  content: "\e931";
}
.slds-standard-icon-entitlement_process:before {
  content: "\e932";
}
.slds-standard-icon-entitlement_template:before {
  content: "\e933";
}
.slds-standard-icon-entity:before {
  content: "\e934";
}
.slds-standard-icon-entity_milestone:before {
  content: "\e935";
}
.slds-standard-icon-environment_hub:before {
  content: "\e936";
}
.slds-standard-icon-event:before {
  content: "\e937";
}
.slds-standard-icon-feed:before {
  content: "\e938";
}
.slds-standard-icon-feedback:before {
  content: "\e939";
}
.slds-standard-icon-file:before {
  content: "\e93a";
}
.slds-standard-icon-flow:before {
  content: "\e93b";
}
.slds-standard-icon-folder:before {
  content: "\e93c";
}
.slds-standard-icon-forecasts:before {
  content: "\e93d";
}
.slds-standard-icon-generic_loading:before {
  content: "\e93e";
}
.slds-standard-icon-goals:before {
  content: "\e93f";
}
.slds-standard-icon-group_loading:before {
  content: "\e940";
}
.slds-standard-icon-groups:before {
  content: "\e941";
}
.slds-standard-icon-hierarchy:before {
  content: "\e942";
}
.slds-standard-icon-home:before {
  content: "\e943";
}
.slds-standard-icon-household:before {
  content: "\e944";
}
.slds-standard-icon-insights:before {
  content: "\e945";
}
.slds-standard-icon-investment_account:before {
  content: "\e946";
}
.slds-standard-icon-lead:before {
  content: "\e947";
}
.slds-standard-icon-lead_insights:before {
  content: "\e948";
}
.slds-standard-icon-lead_list:before {
  content: "\e949";
}
.slds-standard-icon-link:before {
  content: "\e94a";
}
.slds-standard-icon-list_email:before {
  content: "\e94b";
}
.slds-standard-icon-live_chat:before {
  content: "\e94c";
}
.slds-standard-icon-location:before {
  content: "\e94d";
}
.slds-standard-icon-log_a_call:before {
  content: "\e94e";
}
.slds-standard-icon-macros:before {
  content: "\e94f";
}
.slds-standard-icon-maintenance_asset:before {
  content: "\e950";
}
.slds-standard-icon-maintenance_plan:before {
  content: "\e951";
}
.slds-standard-icon-marketing_actions:before {
  content: "\e952";
}
.slds-standard-icon-merge:before {
  content: "\e953";
}
.slds-standard-icon-metrics:before {
  content: "\e954";
}
.slds-standard-icon-news:before {
  content: "\e955";
}
.slds-standard-icon-note:before {
  content: "\e956";
}
.slds-standard-icon-omni_supervisor:before {
  content: "\e957";
}
.slds-standard-icon-operating_hours:before {
  content: "\e958";
}
.slds-standard-icon-opportunity:before {
  content: "\e959";
}
.slds-standard-icon-opportunity_splits:before {
  content: "\e95a";
}
.slds-standard-icon-orders:before {
  content: "\e95b";
}
.slds-standard-icon-people:before {
  content: "\e95c";
}
.slds-standard-icon-performance:before {
  content: "\e95d";
}
.slds-standard-icon-person_account:before {
  content: "\e95e";
}
.slds-standard-icon-photo:before {
  content: "\e95f";
}
.slds-standard-icon-poll:before {
  content: "\e960";
}
.slds-standard-icon-portal:before {
  content: "\e961";
}
.slds-standard-icon-post:before {
  content: "\e962";
}
.slds-standard-icon-pricebook:before {
  content: "\e963";
}
.slds-standard-icon-process:before {
  content: "\e964";
}
.slds-standard-icon-product:before {
  content: "\e965";
}
.slds-standard-icon-product_consumed:before {
  content: "\e966";
}
.slds-standard-icon-product_item:before {
  content: "\e967";
}
.slds-standard-icon-product_item_transaction:before {
  content: "\e968";
}
.slds-standard-icon-product_request:before {
  content: "\e969";
}
.slds-standard-icon-product_request_line_item:before {
  content: "\e96a";
}
.slds-standard-icon-product_required:before {
  content: "\e96b";
}
.slds-standard-icon-product_transfer:before {
  content: "\e96c";
}
.slds-standard-icon-question_best:before {
  content: "\e96d";
}
.slds-standard-icon-question_feed:before {
  content: "\e96e";
}
.slds-standard-icon-quick_text:before {
  content: "\e96f";
}
.slds-standard-icon-quip:before {
  content: "\e970";
}
.slds-standard-icon-quip_sheet:before {
  content: "\e971";
}
.slds-standard-icon-quotes:before {
  content: "\e972";
}
.slds-standard-icon-recent:before {
  content: "\e973";
}
.slds-standard-icon-record:before {
  content: "\e974";
}
.slds-standard-icon-related_list:before {
  content: "\e975";
}
.slds-standard-icon-relationship:before {
  content: "\e976";
}
.slds-standard-icon-report:before {
  content: "\e977";
}
.slds-standard-icon-resource_absence:before {
  content: "\e978";
}
.slds-standard-icon-resource_capacity:before {
  content: "\e979";
}
.slds-standard-icon-resource_preference:before {
  content: "\e97a";
}
.slds-standard-icon-resource_skill:before {
  content: "\e97b";
}
.slds-standard-icon-reward:before {
  content: "\e97c";
}
.slds-standard-icon-rtc_presence:before {
  content: "\e97d";
}
.slds-standard-icon-sales_path:before {
  content: "\e97e";
}
.slds-standard-icon-scan_card:before {
  content: "\e97f";
}
.slds-standard-icon-service_appointment:before {
  content: "\e980";
}
.slds-standard-icon-service_contract:before {
  content: "\e981";
}
.slds-standard-icon-service_crew:before {
  content: "\e982";
}
.slds-standard-icon-service_crew_member:before {
  content: "\e983";
}
.slds-standard-icon-service_report:before {
  content: "\e984";
}
.slds-standard-icon-service_resource:before {
  content: "\e985";
}
.slds-standard-icon-service_territory:before {
  content: "\e986";
}
.slds-standard-icon-service_territory_location:before {
  content: "\e987";
}
.slds-standard-icon-service_territory_member:before {
  content: "\e988";
}
.slds-standard-icon-shipment:before {
  content: "\e989";
}
.slds-standard-icon-skill:before {
  content: "\e98a";
}
.slds-standard-icon-skill_entity:before {
  content: "\e98b";
}
.slds-standard-icon-skill_requirement:before {
  content: "\e98c";
}
.slds-standard-icon-social:before {
  content: "\e98d";
}
.slds-standard-icon-solution:before {
  content: "\e98e";
}
.slds-standard-icon-sossession:before {
  content: "\e98f";
}
.slds-standard-icon-task:before {
  content: "\e990";
}
.slds-standard-icon-task2:before {
  content: "\e991";
}
.slds-standard-icon-team_member:before {
  content: "\e992";
}
.slds-standard-icon-template:before {
  content: "\e993";
}
.slds-standard-icon-thanks:before {
  content: "\e994";
}
.slds-standard-icon-thanks_loading:before {
  content: "\e995";
}
.slds-standard-icon-timesheet:before {
  content: "\e996";
}
.slds-standard-icon-timesheet_entry:before {
  content: "\e997";
}
.slds-standard-icon-timeslot:before {
  content: "\e998";
}
.slds-standard-icon-today:before {
  content: "\e999";
}
.slds-standard-icon-topic:before {
  content: "\e99a";
}
.slds-standard-icon-topic2:before {
  content: "\e99b";
}
.slds-standard-icon-unmatched:before {
  content: "\e99c";
}
.slds-standard-icon-user:before {
  content: "\e99d";
}
.slds-standard-icon-work_order:before {
  content: "\e99e";
}
.slds-standard-icon-work_order_item:before {
  content: "\e99f";
}
.slds-standard-icon-work_type:before {
  content: "\e9a0";
}
