<hr>
<h3 class="txt title jsms-title">STANDARD ICONS</h3>

<i class="icon icon_slds slds-standard-icon-account"></i>
<i class="icon icon_slds slds-standard-icon-address"></i>
<i class="icon icon_slds slds-standard-icon-announcement"></i>
<i class="icon icon_slds slds-standard-icon-answer_best"></i>
<i class="icon icon_slds slds-standard-icon-answer_private"></i>
<i class="icon icon_slds slds-standard-icon-answer_public"></i>
<i class="icon icon_slds slds-standard-icon-approval"></i>
<i class="icon icon_slds slds-standard-icon-apps"></i>
<i class="icon icon_slds slds-standard-icon-apps_admin"></i>
<i class="icon icon_slds slds-standard-icon-article"></i>
<i class="icon icon_slds slds-standard-icon-asset_relationship"></i>
<i class="icon icon_slds slds-standard-icon-assigned_resource"></i>
<i class="icon icon_slds slds-standard-icon-avatar"></i>
<i class="icon icon_slds slds-standard-icon-avatar_loading"></i>
<i class="icon icon_slds slds-standard-icon-bot"></i>
<i class="icon icon_slds slds-standard-icon-business_hours"></i>
<i class="icon icon_slds slds-standard-icon-calibration"></i>
<i class="icon icon_slds slds-standard-icon-call"></i>
<i class="icon icon_slds slds-standard-icon-call_history"></i>
<i class="icon icon_slds slds-standard-icon-campaign"></i>
<i class="icon icon_slds slds-standard-icon-campaign_members"></i>
<i class="icon icon_slds slds-standard-icon-canvas"></i>
<i class="icon icon_slds slds-standard-icon-carousel"></i>
<i class="icon icon_slds slds-standard-icon-case"></i>
<i class="icon icon_slds slds-standard-icon-case_change_status"></i>
<i class="icon icon_slds slds-standard-icon-case_comment"></i>
<i class="icon icon_slds slds-standard-icon-case_email"></i>
<i class="icon icon_slds slds-standard-icon-case_log_a_call"></i>
<i class="icon icon_slds slds-standard-icon-case_milestone"></i>
<i class="icon icon_slds slds-standard-icon-case_transcript"></i>
<i class="icon icon_slds slds-standard-icon-client"></i>
<i class="icon icon_slds slds-standard-icon-cms"></i>
<i class="icon icon_slds slds-standard-icon-coaching"></i>
<i class="icon icon_slds slds-standard-icon-connected_apps"></i>
<i class="icon icon_slds slds-standard-icon-contact"></i>
<i class="icon icon_slds slds-standard-icon-contact_list"></i>
<i class="icon icon_slds slds-standard-icon-contract"></i>
<i class="icon icon_slds slds-standard-icon-contract_line_item"></i>
<i class="icon icon_slds slds-standard-icon-custom"></i>
<i class="icon icon_slds slds-standard-icon-custom_notification"></i>
<i class="icon icon_slds slds-standard-icon-dashboard"></i>
<i class="icon icon_slds slds-standard-icon-datadotcom"></i>
<i class="icon icon_slds slds-standard-icon-default"></i>
<i class="icon icon_slds slds-standard-icon-document"></i>
<i class="icon icon_slds slds-standard-icon-drafts"></i>
<i class="icon icon_slds slds-standard-icon-email"></i>
<i class="icon icon_slds slds-standard-icon-email_chatter"></i>
<i class="icon icon_slds slds-standard-icon-empty"></i>
<i class="icon icon_slds slds-standard-icon-endorsement"></i>
<i class="icon icon_slds slds-standard-icon-entitlement"></i>
<i class="icon icon_slds slds-standard-icon-entitlement_process"></i>
<i class="icon icon_slds slds-standard-icon-entitlement_template"></i>
<i class="icon icon_slds slds-standard-icon-entity"></i>
<i class="icon icon_slds slds-standard-icon-entity_milestone"></i>
<i class="icon icon_slds slds-standard-icon-environment_hub"></i>
<i class="icon icon_slds slds-standard-icon-event"></i>
<i class="icon icon_slds slds-standard-icon-feed"></i>
<i class="icon icon_slds slds-standard-icon-feedback"></i>
<i class="icon icon_slds slds-standard-icon-file"></i>
<i class="icon icon_slds slds-standard-icon-flow"></i>
<i class="icon icon_slds slds-standard-icon-folder"></i>
<i class="icon icon_slds slds-standard-icon-forecasts"></i>
<i class="icon icon_slds slds-standard-icon-generic_loading"></i>
<i class="icon icon_slds slds-standard-icon-goals"></i>
<i class="icon icon_slds slds-standard-icon-group_loading"></i>
<i class="icon icon_slds slds-standard-icon-groups"></i>
<i class="icon icon_slds slds-standard-icon-hierarchy"></i>
<i class="icon icon_slds slds-standard-icon-home"></i>
<i class="icon icon_slds slds-standard-icon-household"></i>
<i class="icon icon_slds slds-standard-icon-insights"></i>
<i class="icon icon_slds slds-standard-icon-investment_account"></i>
<i class="icon icon_slds slds-standard-icon-lead"></i>
<i class="icon icon_slds slds-standard-icon-lead_insights"></i>
<i class="icon icon_slds slds-standard-icon-lead_list"></i>
<i class="icon icon_slds slds-standard-icon-link"></i>
<i class="icon icon_slds slds-standard-icon-list_email"></i>
<i class="icon icon_slds slds-standard-icon-live_chat"></i>
<i class="icon icon_slds slds-standard-icon-location"></i>
<i class="icon icon_slds slds-standard-icon-log_a_call"></i>
<i class="icon icon_slds slds-standard-icon-macros"></i>
<i class="icon icon_slds slds-standard-icon-maintenance_asset"></i>
<i class="icon icon_slds slds-standard-icon-maintenance_plan"></i>
<i class="icon icon_slds slds-standard-icon-marketing_actions"></i>
<i class="icon icon_slds slds-standard-icon-merge"></i>
<i class="icon icon_slds slds-standard-icon-metrics"></i>
<i class="icon icon_slds slds-standard-icon-news"></i>
<i class="icon icon_slds slds-standard-icon-note"></i>
<i class="icon icon_slds slds-standard-icon-omni_supervisor"></i>
<i class="icon icon_slds slds-standard-icon-operating_hours"></i>
<i class="icon icon_slds slds-standard-icon-opportunity"></i>
<i class="icon icon_slds slds-standard-icon-opportunity_splits"></i>
<i class="icon icon_slds slds-standard-icon-orders"></i>
<i class="icon icon_slds slds-standard-icon-people"></i>
<i class="icon icon_slds slds-standard-icon-performance"></i>
<i class="icon icon_slds slds-standard-icon-person_account"></i>
<i class="icon icon_slds slds-standard-icon-photo"></i>
<i class="icon icon_slds slds-standard-icon-poll"></i>
<i class="icon icon_slds slds-standard-icon-portal"></i>
<i class="icon icon_slds slds-standard-icon-post"></i>
<i class="icon icon_slds slds-standard-icon-pricebook"></i>
<i class="icon icon_slds slds-standard-icon-process"></i>
<i class="icon icon_slds slds-standard-icon-product"></i>
<i class="icon icon_slds slds-standard-icon-product_consumed"></i>
<i class="icon icon_slds slds-standard-icon-product_item"></i>
<i class="icon icon_slds slds-standard-icon-product_item_transaction"></i>
<i class="icon icon_slds slds-standard-icon-product_request"></i>
<i class="icon icon_slds slds-standard-icon-product_request_line_item"></i>
<i class="icon icon_slds slds-standard-icon-product_required"></i>
<i class="icon icon_slds slds-standard-icon-product_transfer"></i>
<i class="icon icon_slds slds-standard-icon-question_best"></i>
<i class="icon icon_slds slds-standard-icon-question_feed"></i>
<i class="icon icon_slds slds-standard-icon-quick_text"></i>
<i class="icon icon_slds slds-standard-icon-quip"></i>
<i class="icon icon_slds slds-standard-icon-quip_sheet"></i>
<i class="icon icon_slds slds-standard-icon-quotes"></i>
<i class="icon icon_slds slds-standard-icon-recent"></i>
<i class="icon icon_slds slds-standard-icon-record"></i>
<i class="icon icon_slds slds-standard-icon-related_list"></i>
<i class="icon icon_slds slds-standard-icon-relationship"></i>
<i class="icon icon_slds slds-standard-icon-report"></i>
<i class="icon icon_slds slds-standard-icon-resource_absence"></i>
<i class="icon icon_slds slds-standard-icon-resource_capacity"></i>
<i class="icon icon_slds slds-standard-icon-resource_preference"></i>
<i class="icon icon_slds slds-standard-icon-resource_skill"></i>
<i class="icon icon_slds slds-standard-icon-reward"></i>
<i class="icon icon_slds slds-standard-icon-rtc_presence"></i>
<i class="icon icon_slds slds-standard-icon-sales_path"></i>
<i class="icon icon_slds slds-standard-icon-scan_card"></i>
<i class="icon icon_slds slds-standard-icon-service_appointment"></i>
<i class="icon icon_slds slds-standard-icon-service_contract"></i>
<i class="icon icon_slds slds-standard-icon-service_crew"></i>
<i class="icon icon_slds slds-standard-icon-service_crew_member"></i>
<i class="icon icon_slds slds-standard-icon-service_report"></i>
<i class="icon icon_slds slds-standard-icon-service_resource"></i>
<i class="icon icon_slds slds-standard-icon-service_territory"></i>
<i class="icon icon_slds slds-standard-icon-service_territory_location"></i>
<i class="icon icon_slds slds-standard-icon-service_territory_member"></i>
<i class="icon icon_slds slds-standard-icon-shipment"></i>
<i class="icon icon_slds slds-standard-icon-skill"></i>
<i class="icon icon_slds slds-standard-icon-skill_entity"></i>
<i class="icon icon_slds slds-standard-icon-skill_requirement"></i>
<i class="icon icon_slds slds-standard-icon-social"></i>
<i class="icon icon_slds slds-standard-icon-solution"></i>
<i class="icon icon_slds slds-standard-icon-sossession"></i>
<i class="icon icon_slds slds-standard-icon-task"></i>
<i class="icon icon_slds slds-standard-icon-task2"></i>
<i class="icon icon_slds slds-standard-icon-team_member"></i>
<i class="icon icon_slds slds-standard-icon-template"></i>
<i class="icon icon_slds slds-standard-icon-thanks"></i>
<i class="icon icon_slds slds-standard-icon-thanks_loading"></i>
<i class="icon icon_slds slds-standard-icon-timesheet"></i>
<i class="icon icon_slds slds-standard-icon-timesheet_entry"></i>
<i class="icon icon_slds slds-standard-icon-timeslot"></i>
<i class="icon icon_slds slds-standard-icon-today"></i>
<i class="icon icon_slds slds-standard-icon-topic"></i>
<i class="icon icon_slds slds-standard-icon-topic2"></i>
<i class="icon icon_slds slds-standard-icon-unmatched"></i>
<i class="icon icon_slds slds-standard-icon-user"></i>
<i class="icon icon_slds slds-standard-icon-work_order"></i>
<i class="icon icon_slds slds-standard-icon-work_order_item"></i>
<i class="icon icon_slds slds-standard-icon-work_type"></i>





