// .table,
// .table__container,
// .table__caption,
// .table__head,
// .table__body,
// .table__foot,
// .table__row,
// .table__col {
// }

.table {
  color: #555; // just for preview;
  font-weight: normal; // just for preview;
  text-align: left; // just for preview;
  display: block;
}

.table__container {
  width: 100%;
  border-spacing: 0;
}

.table__col {
  border: 1px solid $tblBdr;
  padding: 6px 10px;
}



