// ============================================================================
// GUIDELINE:
// ============================================================================

// ---------------------------------------------------------------------
// TEXT / TEXT / TEXT / TEXT / TEXT / TEXT / TEXT / TEXT / TEXT / TEXT /
%jsms-header-text {
  color: $blueOne;
  font-size: 18px;
  font-weight: normal;
  // line-height: 18px;
}
%jsms-breadcrumbs {
  color: $blueOne;
  font-size: 14px;
  font-weight: normal;
  // line-height: 18px;
}
%jsms-title {
  text-transform: uppercase;
  color: $blueOne;
  font-size: 14px;
  font-weight: bold;
  // line-height: 18px;
}
%jsms-box-title {
  text-transform: uppercase;
  color: $blueOne;
  font-size: 10px;
  font-weight: normal;
  // line-height: 13px;
}
%jsms-txt {
  color: $darkGray;
  font-size: 14px;
  font-weight: normal;
  // line-height: 18px;
}











// ======================================
%shadow_transition {
  transition: box-shadow .15s ease-in;
}

%shadow_transition_slow {
  transition: box-shadow .3s ease-out;
}

%clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

%elipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

%fontello {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%table_middle {
  .table__container {
    overflow: hidden;
    width: 100%;
  }
  .table__col {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
  }
}
