// -----------------------------
// txt colors:
$txtColor: #92a3bc;

// =========================================
// GUIDELINE:
// =========================================
// header & footer bg:
$lightGrayBg: #eef1f6;

// availability table:
$tshBlue: #468CD3;
$tshGreen: #72D898;
$tshOrangeTxt: #ff9300;
$tshGreenTxt: #319824;

// buttons, lines and details:
$blueOne: #4f6a92;
$blueTwo: #0070D2;
$blueThree: #2298ff;
$blueFour: #0c8eff;
$blueFive: #0167bf;

$darkGray: #808080;
$lightGrayOne: #707070;
$lightGrayTwo: #dae0eb;

// navigation-path:
$pathBg: #e0e5ee;
$pathActive: #0072e0;

// borders for table:
$tblBdr: #cfd7e6;






