.link_control-button-group {
  color: #fff;
  background-color: #333;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  &:focus,
  &:hover {
    background-color: #555;
    text-decoration: none;
  }
  +.link {
    margin-left: 3px;
  }
  &.active {
    background-color: #a00;
    &:focus,
    &:hover {
      background-color: #c00;
    }
  }
}







