<div class="js-data-table">

  <div class="js-data-table__caption" *ngIf="captionData.length">
    {{captionData}}
  </div>

  <div class="js-data-table__container flex">

    <div class="js-data-table__head flex__container" *ngIf="tableHead.length">
      <div *ngFor="let col of tableHead; let colId = index;" class="js-data-table__col flex__element" [ngStyle]="{'width':colWidth+'%'}">
        <div *ngFor="let row of col;     let rowId = index;" class="js-data-table__row">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="headCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:row, rowId:rowId, colId:colId}}">
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="js-data-table__body flex__container" *ngIf="tableBody.length">
      <div *ngFor="let col of tableBody; let colId = index;" class="js-data-table__col flex__element" [ngStyle]="{'width':colWidth+'%'}">
        <div *ngFor="let row of col;     let rowId = index;" class="js-data-table__row">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="bodyCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:row, rowId:rowId, colId:colId}}">
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="js-data-table__foot flex__container" *ngIf="tableFoot.length">
      <div *ngFor="let col of tableFoot; let colId = index;" class="js-data-table__col flex__element" [ngStyle]="{'width':colWidth+'%'}">
        <div *ngFor="let row of col;     let rowId = index;" class="js-data-table__row">
          <ng-container *ngIf="true">
            <ng-template 
              [ngTemplateOutlet]="footCellRef" 
              [ngTemplateOutletContext]="{$implicit: {data:row, rowId:rowId, colId:colId}}">
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>










