<h2 class="">Attribute Directives</h2>

<div class="list">
  <ul class="list__list">
    <li class="list__item item" routerLinkActive="active">
      <a class="link" [routerLink]="['./cell-cursor']" href="javascript:void(0);">Cell Cursor</a>
    </li>
    <!--
    <li class="list__item item" routerLinkActive="active">
      <a class="link" href="javascript:void(0);">Custom-ScrollBar</a>
    </li>
    <li class="list__item item" routerLinkActive="active">
      <a class="link" href="javascript:void(0);">Prevent-Event-Propogation</a>
    </li>
    -->
  </ul>
</div>


<router-outlet></router-outlet>