:host {
  display: block;
  position:relative;
  * {box-sizing:border-box;}
}



// ================================
.js-lookup,
.js-lookup__container,
.js-lookup__head,
.js-lookup__head,
.js-lookup__body {
  // outline: solid 1px #00f;
}

.js-lookup {}
.js-lookup__container {}
.js-lookup__head {}
.js-lookup__head {}
.js-lookup__body {}



// ================================
.js-list_lookup {
  .js-list__container {}
  .js-list__head {}
  .js-list__body {}
  .js-list__foot {}
  // -----------
  &,
  .js-list__list,
  .js-list__item {
    // outline: solid 1px #f00;
  }
  .js-list__list {}
  .js-list__item {}
}


// ================================
.chosen-result {
  min-height: 40px;
  border-radius: 4px;
}
.chosen-result_icon {
  padding-left: 40px;
  padding-right: 40px;
}
.icon_lookup-search-clear,
.icon_lookup-search {
  text-align: center;
  display: inline-block;
  color: #666;
  width: 21px;
}
.icon_lookup-search-clear {
  line-height: 17px;
  font-size: 14px;
}
.icon_lookup-search {
  margin-top: 1px;
  font-size: 16px;
}



// ================================
.lookup__label-slds-icon {
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  display: inline-block;
  padding: 7px 3px 3px 3px;
  height: auto;
  width: 24px;
}
.slds-media.slds-listbox__option.slds-listbox__option_entity.slds-listbox__option_has-meta.slds-has-focus {
  &:hover {
    background-color: #f4f4f4;
  }
}

