<div class="js-lookup slds-combobox_container slds-has-inline-listbox">
  <div class="js-lookup__container slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">

    <ng-container *ngIf="!item">
      <div class="js-lookup__head slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
        <input 
        (input)="onInput(inputLookup)" 
        [(ngModel)]="inputLookup" 
        [ngModelOptions]="{standalone: true}"
        class="slds-input slds-combobox__input" 
        type="text" 
        placeholder="Search Salesforce" />
        <a class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" href="javascript:void(0);"
          (click)="onClearInput()" 
          *ngIf="inputLookup.length && collection.length">
          <i class="icon icon_lookup-search-clear slds-utility-icon-close"></i>
        </a>
        <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" href="javascript:void(0);" 
          *ngIf="!(inputLookup.length && collection.length)">
          <i class="icon icon_lookup-search slds-utility-icon-search"></i>
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="item">
      <div class="js-lookup__head slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right">
        <span class="slds-icon_container lookup__label-slds-icon slds-icon-standard-account slds-combobox__input-entity-icon" title="account">
          <i class="icon slds-standard-icon-account"></i>
          <span class="slds-assistive-text">Description of icon</span>
        </span>
        <div class="chosen-result chosen-result_icon">
          <ng-template 
            [ngTemplateOutlet]="lookupItemHeadTmpRef" 
            [ngTemplateOutletContext]="{$implicit: item}">
          </ng-template>
        </div>
        <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Remove selected option" 
          (click)="onStartSearch()">
          <i class="icon slds-utility-icon-close"></i>
          <span class="slds-assistive-text">Remove selected option</span>
        </button>
      </div>
    </ng-container>

    <div class="js-lookup__body js-list_lookup" *ngIf="collection.length">
      <ul class="js-list__list slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid">
        
        <li class="js-list__item slds-listbox__item" 
          (click)="onChoose(listItem)" 
          *ngFor="let listItem of collection; let i = index;">
          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta slds-has-focus">
            <span class="slds-media__figure">
              <span class="slds-icon_container lookup__label-slds-icon slds-icon-standard-account" title="Description of icon">
                <i class="icon slds-standard-icon-account"></i>
                <span class="slds-assistive-text">Description of icon</span>
              </span>
            </span>
            <span class="slds-media__body" >
              <ng-template 
                [ngTemplateOutlet]="lookupItemBodyTmpRef" 
                [ngTemplateOutletContext]="{$implicit: listItem}">
              </ng-template>
            </span>
          </span>
        </li>

      </ul>
    </div>

  </div>
</div>








  


<!-- 
<div class="lookup">
  <div class="lookup__container">
    <div class="lookup__head">
      <ng-container *ngIf="!item">
        <i class="material-icons icon icon_lookup-search">search</i>
        <input type="text" class="input input_lookup full" 
        (input)="onInput(inputLookup)" 
        [(ngModel)]="inputLookup" 
        [ngModelOptions]="{standalone: true}"
         />
        <a class="material-icons icon icon_lookup-clear-input" 
          href="javascript:void(0);" 
          (click)="onClearInput()" 
          *ngIf="inputLookup.length && collection.length">
          clear
        </a>
      </ng-container>
      <ng-container *ngIf="item">
        <div class="item item_lookup head">
          <ng-template 
            [ngTemplateOutlet]="lookupItemHeadTmpRef" 
            [ngTemplateOutletContext]="{$implicit: item}">
          </ng-template>
          <a class="material-icons icon icon_lookup-clear-item" href="javascript:void(0);" (click)="onStartSearch()">clear</a>
        </div>
      </ng-container>
    </div>
    <div class="lookup__body" *ngIf="collection.length">
      <div class="list list_lookup">
        <ul class="list__list">
          <li class="list__item item item_lookup body" (click)="onChoose(listItem)" *ngFor="let listItem of collection; let i = index;">
            <ng-template 
              [ngTemplateOutlet]="lookupItemBodyTmpRef" 
              [ngTemplateOutletContext]="{$implicit: listItem}">
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->





